.ad{
    .header{
        &__email{
            color: $darkgreen;
        }
        &__nav{
            background: $green;
        }
    }
    .content{
        &_title{
            z-index: 2;

            background: linear-gradient(180deg, #c5f068 0%, #d3fb78 100%);
            .heading{
                color: $darkgreen;
            }
            .offer{
                width: 450px;
                max-width: 100%;
                color: $darkgreen;
            }
            &__elements{
                bottom: -100px;
            }
            &__svg{
                transform: translateY(-30px);
            }
        }
        &_element{
            background: #eafac4;
            .element{
                &_1{
                    width: 300px;
                    bottom: 90px;
                    left: calc( 50% - 720px);
                }
                &_2{
                    width: 300px;
                    top: 250px;
                    right: calc( 50% - 550px);
                }
            }
        }
        &_price{
            .element{
                &_1{
                    width: 250px;
                    top: -100px;
                    left: -50px;
                }
                &_2{
                    width: 220px;
                    bottom: -60px;
                    right: -120px;
                    z-index: 11;
                }
                &_3{
                    width: 210px;
                    top: -100px;
                    right: -50px;
                }
            }
        }
        .list{
            &__item{
                margin-bottom: 20px;
            }
        }
        .item{
            .item__icon{
                background: $green;
            }
            .item__offer{
                color: $lightgrey;
                width: 280px;
            }
        }
        .price{
            &_large{
                .price__header{
                    background: linear-gradient(180deg, $green 0%, darken($green, 10%) 100%);
                    padding: 12px 30px;
                }
            }
        }
    }
}