.design{
    .header{
        &__email{
            color: $pink;
        }
        &__nav{
            background: $pink;
        }
    }
    .content{
        &_title{
            background: linear-gradient(180deg, #ecc2f9 0%, #f1dcf9 100%);
            .heading{
                color: $grey;
            }
            .offer{
                max-width: 100%;
                color: $grey;
            }
            &__svg{
                transform: translateY(-30px);
            }
        }
        &_color{
            background: #f2dff8 url("../images/bg_design.png") no-repeat center top/contain;
            background-position-y: -150px;
            padding-top: 200px;

            color: $grey;

            .heading + .subheading {
                margin-top: 60px;
            }
            .subheading + .offer {
                margin-top: 20px;
            }
            .element{
                position: relative;
                width: 100%;
                margin-bottom: 60px;
            }
        }

        .item{
            .item__number{
                background: $pink;
            }
            &_image{
                .item__image:before{
                    background: rgba(250, 33, 161, .15);
                }
                .item__image:hover{
                    &:before{
                        background: rgba(250, 33, 161, 0);
                    }   
                }
            }
        }
    }
}

/* Media */
@media(max-width: 1400px){
    .design{
        .content{
            &_color{
                background-position-y: -120px;
                padding-top: 150px;
            }
        }
    }
}
@media(max-width: 992px){
    .design{
        .content{
            &_color{
                background-position-y: -70px;
                padding-top: 150px;

                .heading + .subheading {
                    margin-top: 40px;
                }
                .element{
                    margin: 60px 0;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .design{
        .content{
            &_color{
                background-position-y: -50px;
                padding-top: 100px;
                .heading{
                    margin-bottom: 20px;
                    & + .subheading {
                        margin-top: 20px;
                    }
                }
                .subheading {
                    margin-bottom: 40px;
                }
                .element{
                    margin: 40px 0;
                }
            }
        }
    }
}
@media(max-width: 576px){
    .design{
        .content{
            &_color{
                background-position-y: -30px;
                padding-top: 80px;
                .element{
                    margin: 40px 0;
                }
            }
        }
    }
}