.post{
    background: darken($darkgrey, 3%);
    .header{
        &__email{
            left: 60px;
            padding-top: 90px;
        }
    }
    &__elements{
        position: absolute;
        z-index: 2;
        max-width: 100%;
        &.elements_01{
            width: 800px;
            height: 800px;
            left: -200px;
            top: 170px;
        }
        &.elements_02{
            width: 500px;
            height: 500px;
            right: 140px;
            top: 40px;
        }
        
    }
    &__container{
        position: relative;
        z-index: 3;

        .heading{
            font-size: 48px;
            font-weight: 400;
            line-height: 54px;
    
            margin-bottom: 60px;
            color: #fff;
    
            &_blog{
                padding-top: 150px;
            }
        }
    }
    &__item{
        margin-bottom: 40px;

        background-size: cover;
        background-position: center;

        width: 100%;
        padding-top: 150px;

        &.last{
            margin-bottom: 0;
        }

        &:hover{
            text-decoration: none;
        }
        &__title{
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 20px;
            color: #fff;
            background: rgba(39, 39, 39, 0.5);

            display: flex;
            align-items: flex-end;
            height: 50px;
        }
        &__intro{
            font-size: 12px;
            color: $white;
            background: rgba(39, 39, 39, 0.5);
            padding: 0 20px 10px;
        }
        &__info{
            font-size: 12px;
            color: darken($white,25%);
            background: rgba(39, 39, 39, 0.5);
            padding: 0 20px 10px;
        }
    }
}

/* Media */
@media(max-width: 1400px){}
@media(max-width: 992px){
    .post{
        .header{
            &__email{
                left: 60px;
                right: auto;
                padding-top: 60px;
            }
            &__logo{
                width: 250px;
            }
        }
        &__container{
            .heading{
                font-size: 36px;
                line-height: 40px;
            }
        }
    }
}
@media(max-width: 768px){
    .post{
        .header{
            &__email{
                left: 20px;
                padding-top: 120px;
            }
        }
        &__container{
            .heading{
                &_blog {
                    padding-top: 180px;
                }
            }
        }
    }
}
@media(max-width: 576px){
    .post{
        .header{
            &__email{
                left: 20px;
                padding-top: 90px;
            }
        }
        &__container{
            .heading{
                font-size: 28px;
                font-weight: bold;
                line-height: 34px;
            }
        }
    }
}


/* Castomize post column */
@media (min-width: 992px){
    .post .col-lg-3 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
}