// Theinhardt –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
@font-face 
{
	font-family: "Kharkiv Tone";
	font-weight: 800;
	font-style: normal;
	src:
		url('../fonts/Kharkiv_Tone.woff2') format('woff2'),
		url('../fonts/Kharkiv_Tone.woff') format('woff'),
		url('../fonts/Kharkiv_Tone.ttf') format('truetype');
}