.item{
    width: 100%;
    height: auto;
    margin-bottom: 40px;

    &__header{
        font-size: 32px;
        font-weight: 700;

        white-space: nowrap;
        margin-bottom: 10px;

        text-transform: uppercase;
        color: #d3d3d4;
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 5px;
    }
    &__offer{
        font-size: 16px;
        color: $grey;

        width: 240px;
        max-width: 100%;
    }
    &__icon{
        border-radius: 10px;
        background-color: $grey;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        padding: 10px;
        .active-path{
            color: $lightgrey;
        }
    }
    &__number{
        display: inline-block;
        line-height: 24px;
        width: 26px;
        height: 26px;
        text-align: center;
        border-radius: 50%; 

        background: $grey;
        color: $white;

        margin-right: 15px;
    }
    &__image{
        max-width: 100%;
    }

    &_last{
        margin-bottom: 0;           
    }
    &_with-icon{
        position: relative;
        padding-left: 60px;
    }
    &_info{
        padding: 30px;
        .item__title{
            margin-bottom: 20px;
        }
    }
    &_result{
        background: $white;
        text-align: center;
        .item__result{
            margin-top: 10px;
            color: $green;
            font-size: 32px;
            font-weight: 700;
        }
    }
    &_image{
        .item__title{
            text-transform: none;
            margin-bottom: 20px;
        }
        .item__number{
            margin-left: -26px;
        }
        .item__image{
            position: relative;
            .img-fluid{
                filter: grayscale(1);
                transition: .3s;
            }
            &:before{
                position: absolute;
                top: 0;
                left: 0;

                content: '';
                display: block;

                width: 100%;
                height: 100%;

                background: rgba(0,0,0,.2);
                transition: .3s;

                z-index: 1;
            }

            &:hover{
                .img-fluid{
                    filter: grayscale(0);
                }
                &:before{
                    background: rgba(0,0,0,0);
                }
            }
        }
    }
}

/* Media */
@media(max-width: 1400px){}
@media(max-width: 992px){
    .item{
        &_last-md{
            margin-bottom: 0;
        }
    }
}
@media(max-width: 768px){}
@media(max-width: 576px){
    .item{
        margin-bottom: 20px;
        &__offer{
            font-size: 14px;
        }

        &_info{
            padding: 20px;
        }
        &_result{
            .item__result{
                font-size: 24px;
            }
        }
        &_image{
            position: relative;
            padding: 0 26px;
            .item__number{
                position: absolute;
                margin: 0;
                left: -10px;
            }
        }
    }
}