.list{
    padding-left: 20px;
    margin-bottom: 0;
    
    &__item{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
    }

    &_ol{
        counter-reset: myCounter;
        
        .list__item{
            position: relative;
            list-style: none;

            padding-left: 50px;
            min-height: 30px;

            display: flex;
            align-items: center;

            &:before {
                position: absolute;
                left: 0;
                counter-increment: myCounter;
                content:counter(myCounter);
                color: $white;
                background: $grey;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border-radius: 15px;
            }
        }
    }
}

/* Media */
@media(max-width: 1400px){}
@media(max-width: 992px){}
@media(max-width: 768px){
    .list{
        &_ol{
            & + .list__item{
                margin-top: 20px;
            }
        }
    }
}
@media(max-width: 576px){}