.dialog{
    display: grid;
    grid-gap: map-get($map: $spacers, $key: 1);
    grid-template-columns: 60px 1fr;
    grid-template: "avatar message";

    &__image{
        display: block;
        width: 57px;
        height: 57px;
        // border-radius: 50%;

        background: no-repeat center / contain;

        grid-area: avatar;
    }
    &__content{
        grid-area: message;
    }
}