.faq{
    &__title{
        position: relative;

        background-color: $dark-grey;
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
        border: 1px solid $border-color;

        transition: .3s;
        cursor: pointer;

        &:after{
            content: '+';
            position: absolute;
            right:  map-get($map: $spacers, $key: 3) ;
            top: 50%;
            transform: translateX(100%) translateY(-50%);

            font-size: 30px;
            line-height: 24px;
            transition: .3s;
        }
        
        &:hover{
            &:after{
                color: $green;
            }
        }

        &--active{
            background-color: $black;
            border-color: $green;
            &:after{
                content: '−';
            }
        }
    }

    &__content{
        display: none;
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
        border: 1px solid $border-color;

        &--active{
            display: block;
            border-color: $green;
        }
    }
}

// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .faq{
        &__title{
            padding: map-get($map: $spacers, $key: 2);
            padding-right: map-get($map: $spacers, $key: 3);
        }
    }
}