.item_link{
    display: block;
    padding: $grid-gutter-width;
    border: 1px solid $border-color;

    &:hover, &:focus{
        background-color: darken($color: $black, $amount: 4);
        text-decoration: none;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_link{
        padding: $grid-gutter-width/2;
    }
}