.content-form__intro {
  max-width: calc(100% - 40px);
  color: #d5d5d5;
}

.content-form__form {
  margin-top: 40px;
}

.content-form__animation {
  max-width: 90%;
  margin: 0 auto;
}

.content-form__animation #path, .content-form__animation #elem {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.content-form__animation:hover #path, .content-form__animation:focus #path {
  stroke: #d5d5d5;
}

.content-form__animation:hover #elem, .content-form__animation:focus #elem {
  fill: #ffffff;
}

.content-form_callback {
  border: 1px solid #3e3e3e;
  padding: 40px;
}

@media all and (max-width: 768px) {
  .content-form_callback {
    padding: 20px;
  }
}

@media all and (max-width: 576px) {
  .content-form {
    padding-top: 40px;
  }
}

.tags {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(80px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
}

.tags__item {
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
  white-space: nowrap;
  color: #d5d5d5;
  border: 4px solid #3e3e3e;
  text-transform: capitalize;
}

.tags__item:hover, .tags__item:focus {
  text-decoration: none;
}

.tags__item--active {
  font-weight: 800;
  border-color: #c1ea1d;
  color: #ffffff;
}

.tags__item--active:hover, .tags__item--active:focus {
  color: #ffffff;
}

.portfolio {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.portfolio__title {
  padding: 10px 20px 0;
  margin: 0;
}

.portfolio__title:last-child {
  padding-bottom: 20px;
}

.portfolio__intro {
  color: #d5d5d5;
  padding: 0 20px 20px;
  line-height: 1.4;
}

.portfolio__col {
  background-color: #1a1a1a;
}

.portfolio__col:hover, .portfolio__col:focus {
  text-decoration: none;
}

.portfolio_navbar {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.portfolio_large {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media all and (max-width: 992px) {
  .portfolio_navbar {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media all and (max-width: 576px) {
  .portfolio {
    display: block;
  }
}
