.item__title {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.item__title_has-icon {
  position: relative;
  padding-left: 34px;
}

.item__icon {
  width: 24px;
}

.item__icon_inside-title {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item__intro {
  color: #a7a7a7;
}

.content-main {
  padding: 40px 0;
}

.content-main__title {
  padding-top: 20px;
  width: 740px;
  max-width: 100%;
}

.content-main__intro {
  width: 520px;
  max-width: 90%;
  color: #e7e7e7;
}

.content-main__action {
  position: relative;
  padding: 60px 0 20px;
}

.content-main__action-main {
  position: absolute;
  bottom: -62px;
  left: 152px;
  width: 600px;
}

.content-main__preview {
  position: relative;
  max-width: 100%;
}

.content-main__prototype {
  position: relative;
  z-index: 1;
}

.content-main__example {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  right: 15px;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
}
