.btn{
    border: none;
    outline: none;
    box-shadow: none;

    font-family: $font-family-serif;
    font-size: map-get($map: $font-size, $key: "xs");
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $body-color;
    background-color: inherit;
    // padding: 0;
    padding: 14px 24px;

    transition: all .4s;

    &__icon{
        margin-left: 10px;
        transition: all .4s;
    }

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }

    &--full{
        width: 100%;
    }
    &--has-icon{
        display: inline-flex;
        align-items: center;
        padding: 0;

        &:hover, &:focus{
            .btn__icon{
                margin-left: 15px;
            }
        }
    }
    &--small{
        padding: 8px 12px;
    }
}