.btn_action{
    border: 4px solid $green;
    color: $green;
    text-align: center;

    padding: 14px 28px;

    &:hover, &:focus{
        background-color: darken($color: $black, $amount: 4);
        color: $green;
    }
}