html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet")
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/portfolio.css', rel='stylesheet')

    body
        script(src="/js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        .container
            section.container__inner.mb-5
                h1.h3 Работы по тегу 
                    span.text-green #логотип 
                //- Теги
                .tags
                    a.tags__item(href="#") Все работы
                    a.tags__item.tags__item--active(href="#") Логотип
                    a.tags__item(href="#") Фирменный стиль
                    a.tags__item(href="#") Полиграфия
                    a.tags__item(href="#") Сайт
                    a.tags__item(href="#") SEO
                //- Работы
                .portfolio.mt-3
                    +portfolio-link("text.html", "", "/demo/portfolio-1.jpg", "EuroComm", "Сайт-визитка на MODx Revo")
                    +portfolio-link("text.html", "", "/demo/portfolio-2.jpg", "KAM fish", "Логотип и иконки для хайлайтс")
                    +portfolio-link("text.html", "", "/demo/portfolio-3.jpg", "Pelibox", "Открытки для доставки еды")
                    +portfolio-link("text.html", "", "/demo/portfolio-2.jpg", "Pelibox", "Открытки для доставки еды")
                    +portfolio-link("text.html", "", "/demo/portfolio-3.jpg", "KAM fish", "Логотип и иконки для хайлайтс")
                    +portfolio-link("text.html", "", "/demo/portfolio-1.jpg", "EuroComm", "Сайт-визитка на MODx Revo")
                .pagination.mt-3
                    a.pagination__link(href="#") 1
                    span.pagination__link.pagination__link--active 2
                    a.pagination__link(href="#") 3
                    a.pagination__link(href="#") 4
                    a.pagination__link(href="#") 5
            //- Contact Form
            aside.container__inner.content-form.content-form_callback
                h4.h2 Вам нужно разработать классный 
                    span.text-green логотип
                    | ? 
                p.lead.content-form__intro Оставьте заявку и мы свяжемся с вами и проконсультируем
                form.form.content-form__form
                    .form__group.row
                        .col-4.col-xs-12
                            input.input.input--has-validation.input--full.phone(type="tel" placeholder="Телефон *")
                        .col-8.col-xs-12
                            button.btn.btn_action(type="submit") Оставить заявку
        include component/footer/footer.pug
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")
        
        script(src="./js/app.min.js")