.content_title{
    color: $white;
    background: linear-gradient(45deg, #2b248a 0%, #361cbc 100%);
    padding: 290px 0 100px;

    &__svg{
        position: absolute;
        left: 0;
        top: 0;

        width:100%;
        height:520px;

        #filter_0{
            width:100%;
            height:520px;
        }
    }
    &__elements{
        position: absolute;
        bottom: -150px;
        right: 0px;

        width: 750px;
        height: 750px;
    }

    .heading{
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 60px;
    }
    .offer{
        font-size: 18px;
        line-height: 26px;
    }
}