.content{
    position: relative;
    padding: 100px 0;

    .heading{
        font-size: 54px;
        font-weight: 700;
        line-height: 60px;

        /* Size */

        &_small{
            font-size: 32px;
            line-height: 40px;
        }
        &_medium{
            font-size: 42px;
            line-height: 50px;
        }

        /* Indent */

        // margin-bottom: 0;
        // &.margin-top{margin-top: 50px;}
        // &.margin-bottom{margin-bottom: 50px;}
        & + .subheading{
            margin-top: 40px;
        }
        & + .offer{
            margin-top: 40px;
        }
        & + .toggle-tabs{
            margin-top: 60px;
        }
    }
    .subheading{
        font-weight: 700;
        text-transform: uppercase;

        /* Indent */
        & + .offer{
            margin-top: 40px;
        }
    }
    .offer{
        font-size: 16px;
        line-height: 24px;
                
        /* Size */
        &.small{
            font-size: 14px;
            line-height: 22px;
        }

        /* Indent */
        margin-bottom: 20px;
        &.last{
            margin-bottom: 0;
        }
        &.last-xl{
            margin-bottom: 0;
        }
        & + .subheading{
            margin-top: 40px;
        }
        & + .btn{
            margin-top: 40px;
        }
    }
    .element{
        position: absolute;

        &_point{
            left: -140px;
            bottom: -40px;
            width: 500px;
            height: 500px;
            z-index: -1;
            background: url("../images/points.png") no-repeat right center / cover;
        }
    }
    ul{
        padding-left: 20px;
        margin-bottom: 20px;
        li+li{
            margin-top: 10px;
        }

        &.last{
            margin-bottom: 0;
        }
    }

    &__group{
        margin: 40px 0 25px;
        
        &__link{
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            padding: 15px 30px 16px; 

            margin: 0 6px 15px;

            color: $grey;
            background: linear-gradient(-45deg, #d4d4d4 0%, #d0cbe3 62%, #d5c3ff 100%);
        }
        a.content__group__link{
            &:hover{
                color: $darkblue;
                text-decoration: none;
            }
        }
    }

    /* PADDING LARGE */
    &_padding{
        padding: 150px 0;
    }
}

@media(max-width: 1400px){
    .content{
        .offer{
            &.last-xl{
                margin-bottom: 40px;
            }
        }

        &_padding {
            padding: 100px 0;
        }
    }
}
@media(max-width: 992px){}
@media(max-width: 768px){
    .content{
        .heading {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 40px;
            
            & + .offer{
                margin-top: 40px;
            }

            &_small{
                font-size: 32px;
                line-height: 40px;
            }
        }
        .element_point{
            max-width: 100%;
        }
    }
}
@media(max-width: 576px){
    .content{
        padding: 60px 0;
        .heading {
            font-size: 28px;
            line-height: 34px;

            &_small{
                font-size: 22px;
                line-height: 30px;
            }
        }
        &__group{
            &__link{
                font-size: 12px;
                padding: 10px 12px 8px;
            }
        }
    }
}