.content_contact{
    padding: 60px 0;
    background: $darkgrey;
    z-index: 1;

    .heading{
        color:$white;
    }
    .offer{
        color:$lightgrey;       
    }
    .form{
        margin-top: 80px;
        margin-bottom: 0;
        
        &_inline{
            .input-text{
                float: left;
                width: calc(100% - 340px);
            }
            .btn{
                margin-left: 20px;
                width: 320px;
                max-width: 100%;
            }
        }
        .input-text{
            color: $white;
            background: darken($color: $darkgrey, $amount: 5%);
        }
    }
}

/* Media */
@media(max-width: 1400px){
    .content_contact{
        .form_inline{
            margin-bottom: 40px;
        }
    }
}
@media(max-width: 992px){}
@media(max-width: 768px){
    .content_contact{
        .form_inline{
            margin: 40px 0;
            .input-text {
                width: calc(100% - 280px);
            }
            .btn {
                width: 260px;
            }
        }
    }
}
@media(max-width: 576px){
    .content_contact{
        padding-bottom: 50px;
        .form{
            .input-text{
                float: none;
                width: 100%;
            }
            .btn{
                margin: 20px 0;
                width: 100%;
            }
        }
    }
}