.content_title{
    color: $white;
    background: linear-gradient(45deg, #2b248a 0%, #361cbc 100%);
    padding: 290px 0 100px;

    &__svg{
        position: absolute;
        left: 0;
        top: 0;

        width:100%;
        height:520px;

        #filter_0{
            width:100%;
            height:520px;
        }
    }
    &__elements{
        position: absolute;
        bottom: -150px;
        right: 0px;

        width: 750px;
        height: 750px;
    }

    .heading{
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 60px;
    }
    .offer{
        font-size: 18px;
        line-height: 26px;
    }
}
@media(max-width: 1400px){
    .content_title{
        .heading {
            font-size: 60px;
            line-height: 70px;
        }
        &__elements {
            bottom: -100px;
        }
    }
}
@media(max-width: 992px){
    .content_title{
        padding-top: 340px;
        
        .heading{
            font-size: 50px;
            line-height: 64px;
            margin-bottom: 40px;
        }

        &__elements {
            width: 680px;
        }
    }
}
@media(max-width: 768px){
    .content_title{
        padding-top: 240px;
        &__elements{
            width: 700px;
        }
    }
}
@media(max-width: 576px){
    .content_title{
        padding-top: 250px;
        min-height: 550px;

        .heading{
            font-size: 30px;
            line-height: 40px;
        }
        .btn {
            margin-left: 0px;
        }

        & + .content{
            padding-top: 80px;
        }

        &__elements{
            width: 720px;
        }
    }
}