.content_price{
    background: #272727;
    color: $white;

    .offer{
        color: darken($color: $white, $amount: 50%);
        width: 650px;
        max-width: 100%;
        margin: 0 auto;
    }

    .content_price__container + .content_price__container{
        margin-top: 100px;
    }
}

/* Media */
@media(max-width: 1400px){
    .content_price{
        .element{
            display: none;
        }
    }
}
@media(max-width: 992px){}
@media(max-width: 768px){
    .content_price{
        .content_price__container{
            & + .content_price__container{
                margin-top: 60px;
            }
        }
        .element{
            display: none;
        }
    }
}
@media(max-width: 576px){
    .content_price{
        .content_price__container{
            & + .content_price__container{
                margin-top: 0px;
            }
        }
    }
}