html,body {
    font-size: map-get($font-size, 'hd');
    font-weight: $font-weight-base;
    line-height: $line-height;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;

    &.hidden{
        overflow: hidden;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    line-height: $line-height-heading;
    margin-bottom: map-get($spacers, 2);

    &:last-child{
        margin-bottom: 0;
    }
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: map-get($spacers, 3);
}
.h1,h1{font-size: 48px;}
.h2,h2{font-size: 40px;}
.h3,h3{font-size: 32px;}
.h4,h4{font-size: 24px;}
.h5,h5{font-size: 18px;}
.h6,h6{font-size: 1rem;}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: map-get($spacers, 2);
    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    padding: 0;
    margin-bottom: map-get($spacers, 2);
    &:last-child{
        margin-bottom: 0;
    }
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;

    color: $link-color;

    &:hover, &:focus{
        color: $link-hover-color;
        outline: none;
    }
}
.link-inverse{
    color: $link-hover-color;
    &:hover{
        color: $link-color;
    }
}

table{
    td{
        padding: 8px 15px;
    }
}
.bg-black{background-color: $black;}
.bg-white{background-color: $white;}
.bg-grey{background-color: $dark-grey;}

.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;

    background: rgba(0,0,0,.4);

    &--disable{
        position: inherit;
        display: none;
    }
}

.p-relative{position: relative;}
.p-sticky{position: sticky; top: 0; left: 0; z-index: 101;}
.p-absolute{position: absolute; top: 0; left: 0; z-index: 101;}

.d{
    &-flex{display: flex;}
    &-none{display: none;}
    &-block{display: block;}
}

.text-white{color: $white;}
.text-black{color: $black;}
.text-green{color: $green;}
.text-purple{color: $purple;}
.text-light{color: $light-grey;}
.text-grey{color: $grey;}

.text-uppercase{text-transform: uppercase;}
.text-bolder{font-weight: 500;}
.text-bold,strong,b{font-weight: 700;}
.text-underline{text-decoration: underline;}

.text-small,small,.small{font-size: 0.9rem;}
.text-lead,.lead{font-size: 1.2rem;}

.text-dialog{
    position: relative;
    display: inline-block;
    padding: 4px 6px;
    border: 4px solid $green;
    color: $green;

    &:after{
        border: 10px solid transparent;
        border-top: 10px solid $green;
        border-right: none;

        position: absolute;
        bottom: -24px;
        right: -4px;

        content: '';
    }
}

.text{
    &-right{text-align: right;}
    &-center{text-align: center;}
    &-left{text-align: left;}
}
.img-fluid{
    display: block;
    height: auto;
    // margin: 0 auto;
    max-width: 100%;
}
.img-border{
    border: 1px solid $border-color;
}
.border-block{
    padding: map-get($map: $spacers, $key: 3);
    border: 1px solid $border-color;
}


@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    html,body {
        font-size: map-get($font-size, 'xl');   
    }
    .d-xl{
        &-flex{display: flex;}
        &-none{display: none;}
        &-block{display: block;}
    }
    .text-xl{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    // html,body {font-size: map-get($font-size, 'lg');}
    
    .d-lg{
        &-flex{display: flex;}
        &-none{display: none;}
        &-block{display: block;}
    }

    .text-lg{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    // html,body {font-size: map-get($font-size, 'md');}

    .d-md{
        &-flex{display: flex;}
        &-none{display: none;}
        &-block{display: block;}
    }
    
    .text-md{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    html,body {font-size: map-get($font-size, 'sm');}

    .h1,h1{font-size: 32px;}
    .h2,h2{font-size: 26px;}
    .h3,h3{font-size: 22px;}
    .h4,h4{font-size: 18px;}
    .h5,h5{font-size: 16px;}
    
    .d-sm{
        &-flex{display: flex;}
        &-none{display: none;}
        &-block{display: block;}
    }

    .text-sm{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .border-block{
        padding: $spacer/2;
    }
    .d-xs{
        &-flex{display: flex;}
        &-none{display: none;}
        &-block{display: block;}
    }

    .text-xs{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}