.portfolio{
    display: grid;
    grid-gap: map-get($map: $spacers, $key: 2);
    grid-template-columns: repeat(3, minmax(0, 1fr));

    &__title{
        // font-weight: $font-weight-bold;
        font-size: map-get($map: $heading, $key: h6);
        line-height: $line-height-heading;
        letter-spacing: $letter-spacing;
        
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 1);
        margin: 0;

        &:last-child{
            padding-bottom: $spacer/2;
        }
    }
    &__intro{
        line-height: $line-height-base;
        color: $grey;
        padding: 0 map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);
    }

    &__col{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: darken($color: $black, $amount: 4);

        &:hover, &:focus{ text-decoration: none; }
    }

    // Modification
    &_navbar{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    &_large {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .portfolio{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        &__title{
            font-size: map-get($map: $font-size, $key: sm);
            padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 1);
        }
        &__intro{
            padding: map-get($map: $spacers, $key: 0) map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 2);
        }

        &_navbar{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .portfolio{
        grid-template-columns: 1fr;
    }
}