.portfolio_feed{
    &__title{
        font-size: map-get($map: $font-size, $key: sm);
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }
    &__intro{
        font-size: map-get($map: $font-size, $key: sm);
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .portfolio_feed{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: map-get($map: $spacers, $key: 1);

        &__title{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: xs);
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .portfolio_feed{
        &__title{
            font-size: map-get($map: $font-size, $key: xs);
            text-transform: none;
            padding: map-get($map: $spacers, $key: 1);
        }
        &__intro{
            display: none;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .portfolio_feed{
        grid-gap: map-get($map: $spacers, $key: 1)/2;
        
        &__title{
            display: none;
        }
    }
}