// Для ошибок в MODx
.input.error,
.ajax_form .input.error{
    border-color: $red;

    &::placeholder{
        color: $red;
    }
}
.form__validation.error,
.ajax_form .form__validation.error,
.ajax_form .error{
    color: lighten($color: $red, $amount: 12)!important
}

