.footer{
    font-size: map-get($map: $font-size, $key: "xs");
    padding: map-get($map: $spacers, $key: 4) 0;

    &__logo{
        width: 160px;
        max-width: 100%;
        margin-bottom: $spacer/4;

        fill: $white;
    }
    &__nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: map-get($map: $spacers, $key: 1);

        &_portfolio{
            grid-template-columns: 1fr;
        }
    }
    &__email{
        font-weight: $font-weight-bold;
        color: $green;
        margin: $spacer/2 0;
    }
    &__copyright{
        color: $grey;
    }

    &__title{
        font-size: map-get($map: $font-size, $key: "sm");
        font-weight: $font-weight-bold;
        margin-bottom: $spacer/4;
    }
    &__link{
        display: block;
        color: $grey;

        line-height: $line-height-base;
    }
}

// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .footer{
        &__service{
            order: 1;

            margin-bottom: map-get($map: $spacers, $key: 3);
        }
        &__info{
            order: 2;
            margin-bottom: map-get($map: $spacers, $key: 3);
        }
        &__portfolio{
            order: 3;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .footer{
        padding: map-get($map: $spacers, $key: 3) 0;

        &__info{
            order: 3;
            margin-bottom: map-get($map: $spacers, $key: 0);
        }
        &__portfolio{
            order: 2;
            margin-bottom: map-get($map: $spacers, $key: 3);
        }

        &__nav{
            grid-template-columns: repeat(2, 1fr);

            &_portfolio{
                grid-template-columns: 1fr;
            }
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .footer{
        &__nav{
            grid-template-columns: 1fr;
        }
    }
}