.navbar{
    &__title{
        font-size: 1.25rem;
        font-weight: $font-weight-bolder;
        margin-bottom: $spacer/2;
    }
    &__grid{
        display: grid;
        grid-gap: $spacer/4;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &__item{
        display: block;
        color: $light-grey;
        line-height: 1.4;

        &:hover, &:focus{
            text-decoration: none;
            color: $green;
        }

        & + .navbar__title{
            margin-top: $spacer/2;
        }
    }
    &__service{
        display: flex;
        align-items: center;
        border: 1px solid $border-color;
        padding: $spacer/2;
        background-color: $black;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar{
        &__grid{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .navbar{
        &__grid{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .navbar{
        &__grid{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}