.navbar{
    &__title{
        font-family: $font-family-heading;
        color: $green;
        // font-size: 1.25rem;
        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__grid{
        display: grid;
        grid-gap: $spacer/4;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &__item{
        display: block;
        color: $light-grey;
        line-height: 1.4;

        &:hover, &:focus{
            text-decoration: none;
            color: $green;
        }

        & + .navbar__title{
            margin-top: map-get($map: $spacers, $key: 2);
        }
    }
    &__service{
        display: flex;
        align-items: center;
        border: 1px solid $border-color;
        padding: map-get($map: $spacers, $key: 2);
        background-color: $black;
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar{
        &__grid{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .navbar{
        &__grid{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .navbar{
        &__grid{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        &__service{
            padding: map-get($map: $spacers, $key: 1);
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .navbar{
        &__grid{
            grid-template-columns: 1fr;
        }
    }
}