.btn_action{
    font-weight: $font-weight-bold;
    background: $green;
    color: $black;
    text-align: center;
    padding: 14px 24px;

    &:hover, &:focus{
        background: darken($color: $green, $amount: 10);
        color: $black;
    }
}