.btn{
    border: none;
    outline: none;
    box-shadow: none;

    font-family: $font-family-heading;
    font-size: map-get($map: $font-size, $key: "xs");
    font-weight: $font-weight-bolder;
    letter-spacing: .5px;
    text-transform: uppercase;

    color: $body-color;
    background-color: inherit;
    padding: 0;

    transition: all .4s;

    &__icon{
        margin-left: 10px;
        transition: all .4s;
    }

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }

    &--full{
        width: 100%;
    }
    &--has-icon{
        display: inline-flex;
        align-items: center;

        &:hover, &:focus{
            .btn__icon{
                margin-left: 15px;
            }
        }
    }
}