.service{
    display: grid;
    grid-gap: map-get($map: $spacers, $key: 2);

    grid-template-columns: repeat(3, minmax(0, 1fr));

    &__col{
        display: flex;
        align-items: stretch;

        &_first{
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .service{
        &_category{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .service{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .service{
        &__col{
            &_first{
                grid-row-start: 1;
                grid-row-end: 2;
            }
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .service{
        grid-template-columns: 1fr;
    }
}