.header{
    &__logo{
        margin-right: $spacer;
        transform: translateY(-5px);
        
        &-svg{
            width: 160px;
        }
        &-path{
            fill: $white;
        }
    }
    &__top{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: $spacer 0;
        font-size: 11px;
    }

    &__email{
        font-weight: $font-weight-bold;
        color: $white;
        text-transform: uppercase;
        text-decoration: underline;
        margin-right: $spacer;
    }
    &__link{
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $white;
    }
    &__nav{
        position: fixed;
        top: 30px;
        right: $spacer;

        height: 50px;
        width: 50px;
        padding: 14px;
        
        border-radius: 50%;
        background: $white;

        cursor: pointer;
        z-index: 999;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        &__logo{
            width: 30px;
            left: 30px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .header{
        &__top{
            padding-top: $spacer/2;
        }
        &__logo{
            top: 26px;
            left: 12px;
            width: 24px;
        }
        &__nav{
            top: $spacer/2;
        }
        &__link{
            display: none;
        }
    }
}