header.header
    a.header__logo(href="https://websoho.ru/" title="SOHO - разработка сайтов, реклама и продвижение.")
        svg(viewBox="0 0 80 320" preserveAspectRatio="xMidYMin meet" x="0px" y="0px")
            path.header__logo__path(d="M73.8,119.8c0-19.6-15.9-35.4-35.4-35.4S3,100.3,3,119.8s15.8,35.4,35.4,35.4l0,0C57.9,155.2,73.8,139.4,73.8,119.8zM28.5,119.8c0-5.4,4.4-9.8,9.8-9.8s9.8,4.4,9.8,9.8c0,5.4-4.4,9.8-9.8,9.8C32.9,129.7,28.5,125.3,28.5,119.8L28.5,119.8L28.5,119.8z")
            path.header__logo__path(d="M73.8,268.3c0-19.6-15.9-35.5-35.4-35.5C18.8,232.8,3,248.7,3,268.3c0,19.5,15.8,35.4,35.4,35.4l0,0C57.9,303.7,73.8,287.8,73.8,268.3z M28.5,268.3c0-5.4,4.4-9.8,9.8-9.8s9.8,4.4,9.8,9.8s-4.4,9.8-9.8,9.8l0,0C32.9,278.1,28.5,273.7,28.5,268.3L28.5,268.3L28.5,268.3z")
            g
                rect.header__logo__path(x="40.3" y="165.8" width="33.5" height="56.7")
                rect.header__logo__path(x="3" y="165.8" width="32.5" height="56.7")
            path.header__logo__path(d="M69,131.4")
            g
                path.header__logo__path(d="M23.2,1.4c1.9-0.6,3.5,0.5,5.1,1.8c7.7,6.3,15.3,12.4,23,18.7C56.6,26.2,61.9,30.5,67,35c4.5,4,7.5,8.9,7.5,15.2    c0.2,7.5-3.7,14.5-10.1,18.4c-4,2.5-8.7,3.7-13.5,3.6c-0.9,0-1.9-0.3-2.6-0.9c-8.9-6.4-17.8-12.9-26.5-19.5    c-6-4.4-11.4-9.5-16-15.4c-4.2-5.2-5.8-12-4.2-18.6c1.2-5.3,4.6-9.9,9.3-12.7C14.4,2.7,18.7,1.4,23.2,1.4z")
                path.header__logo__path(d="M39.4,72H1.8V42L39.4,72z")
                path.header__logo__path(d="M69.9,1.3v28.5L35.2,1.3H69.9z")
    .container
        .container__inner.header__top
            .header__group-link
                a.header__email(href="mailto:work@websoho.ru") work@websoho.ru
                a.header__link(href="portfolio.html") Портфолио студии
            svg.header__nav#open-nav(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve")
                g
                    path.header__nav__path(d="M6.979,271.181c30.288,25.979,64.616,55.426,131.017,55.426c66.403-0.001,100.733-29.447,131.022-55.426c28.644-24.568,53.382-45.787,104.98-45.787c51.599,0,76.337,21.219,104.98,45.787c8.385,7.191,21.011,6.225,28.202-2.159c7.191-8.385,6.225-21.011-2.16-28.202c-30.289-25.979-64.619-55.426-131.022-55.426S273.265,214.84,242.976,240.82c-28.644,24.568-53.382,45.787-104.98,45.787c-51.597,0-76.332-21.218-104.974-45.787c-8.384-7.191-21.01-6.226-28.202,2.159C-2.372,251.363-1.405,263.99,6.979,271.181z")
                    path.header__nav__path(d="M6.979,161.787c30.287,25.98,64.615,55.426,131.017,55.426c66.403,0,100.733-29.446,131.022-55.426C297.662,137.219,322.399,116,373.998,116c51.597,0,76.335,21.218,104.98,45.787c8.385,7.193,21.01,6.224,28.201-2.161c7.192-8.384,6.223-21.012-2.161-28.202C474.729,105.444,440.399,76,373.998,76c-66.403,0-100.733,29.446-131.022,55.426c-28.644,24.568-53.382,45.787-104.98,45.787c-51.596,0-76.332-21.218-104.974-45.787c-8.384-7.192-21.011-6.226-28.202,2.159C-2.372,141.969-1.405,154.596,6.979,161.787z")
                    path.header__nav__path(d="M505.02,350.213c-30.289-25.979-64.619-55.426-131.022-55.426s-100.733,29.446-131.022,55.426C214.332,374.781,189.594,396,137.996,396c-51.594,0-76.331-21.218-104.973-45.785l-0.002-0.002c-8.384-7.189-21.009-6.223-28.201,2.16c-7.191,8.384-6.224,21.011,2.16,28.202C37.268,406.555,71.597,436,137.996,436c66.403,0,100.733-29.446,131.022-55.426c28.644-24.568,53.382-45.787,104.98-45.787c51.599,0,76.337,21.219,104.98,45.787c8.385,7.191,21.011,6.225,28.202-2.159C514.371,370.03,513.405,357.404,505.02,350.213z")
nav.navbar.navbar_header
    .navbar_header__close#close-nav
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6Z" fill="currentColor"></path></svg>
    .navbar__title Основные услуги
    a.navbar__item(href="") Сайт под ключ
    a.navbar__item(href="") Верстка и разработка
    a.navbar__item(href="") Графический дизайн
    a.navbar__item(href="") Сайт на Tilda
    a.navbar__item(href="") Интернет-маркетинг
    a.navbar__item(href="") Контекстная реклама
    a.navbar__item(href="") SEO-продвижение
    a.navbar__title.navbar__title_link(href="") Блог
    a.navbar__item(href="") Фриланс = акуна матата?
    a.navbar__item(href="") Пересядь с иглы плохой рекламы
    a.navbar__item(href="") Играл со шрифтом в дизайне: проиграл
    a.navbar__title.navbar__title_link(href="") Портфолио
    a.navbar__item(href="") Сайт для «ДИФ Строй-Инжиниринг»
    a.navbar__item(href="") Вывод сайта в ТОП-10 по высокочастотным запросам
    a.navbar__item(href="") Сайт для TopStone