.btn{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;

    &:hover{
        text-decoration: none;
    }
    &_primary {
        color: #fff;
        background: linear-gradient( -45deg, rgb(50,43,143) 0%, rgb(63,36,166) 62%, rgb(76,28,188) 100%);
        box-shadow: 0px 3px 6px 0px rgba(34, 0, 112, 0.2);
        min-width: 270px;
        &:hover{
            color: #fff;
            box-shadow: 0px 3px 6px 0px rgba(34, 0, 112, 0.5);
        }
    }
      
}