.header{
    position: relative;
    z-index: 11;

    &__email{
        position: absolute;
        top: 0;
        left: 20px;

        padding-top: 80px;
        font-weight: 700;
        color: $yellow;

        transition: .3s;

        &_inside{
            top: 30px;
        }
    }
    &__logo{
        position: absolute;
        top: 0;
        left: 0;

        padding-top: 80px;
        
        width: 60px;
        max-width: 100%;
        transition: .3s;
        &__path{
            fill: #fff;
        }
        &.header__logo_inside{
            width: 200px;
        }
    }
    &__nav{
        position: fixed;
        top: 80px;
        right: calc( (100% - 1380px)/2 + 20px);

        width: 70px;

        padding: 20px;
        border-radius: 50%;
        background: $darkblue;
        box-shadow: 0px 3px 6px 0px rgba(34, 0, 112, 0.1);

        transition: .5s;
        cursor: pointer;
        &__path{
            fill: #fff;
        }
        &:hover{
            background: rgb(63, 45, 165);
        }
    }
    
    .nav{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        min-height: 100vh;

        transform: translateX(100%);
        transition: .5s;

        display: inline-block;

        color: $black;
        background: #f2f2f2;
        padding: 30px 40px;
        &.active{
            transform: translateX(0);
        }
        .header__navbar{
            list-style: none;
            padding: 0;
            margin: 0;
            &__link{
                font-weight: 500;
                color: $black;
                &:hover{
                    color: $violet;
                    text-decoration: none;
                }
            }
            &__item{
                padding: 10px 0;
            }
        }
        .nav__close{
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 40px;
            cursor: pointer;

            &:hover{
                color: $darkblue;
            }
        }
    }
}