@media(max-width: 1400px){
    .margin-bottom-lg{
        margin-bottom: 50px;
    }
    .text-lg-center{text-align: center;}
    .header{
        &__nav{
            right: calc((100% - 960px)/2 + 20px);
        }
    }
    .content{
        &_title{
            &__elements {
                bottom: -100px;
            }
        }
        &_contact{
            .form_inline{
                margin-bottom: 40px;
            }
        }
        &_price{
            .element{
                display: none;
            }
        }
        &_padding {
            padding: 100px 0;
        }
        .offer{
            &.last-xl{
                margin-bottom: 40px;
            }
        }
    }
    .footer{
        &__navbar{
            font-size: 12px;
            &__item {
                padding: 0px 6px;
            }
        }
    }

    .price{
        &_large{
            .price__header {
                font-size: 18px;
            }
        }
    }
    .design{
        .content{
            &_color{
                background-position-y: -120px;
                padding-top: 150px;
            }
        }
    }
    .ad{
        .content{
            .list{
                &__item{
                    &_last{
                        margin-bottom: 0px;
                    }
                }
            }
            &_element{
                .element_1{
                    left: 0;
                    bottom: 370px;
                }
                .element_2 {
                    top: 100px;
                    right: 0;
                }
            }
        }
    }
    .marketing{
        .content{
            &_padding {
                .element{
                    width: 280px;
                }
            }
            &_color{
                .row{
                    .column{
                        // max-width: calc(100%/3);
                        .heading {
                            font-size: 18px;
                            line-height: 24px;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }
    .inside-page{
        .header__nav{
            top: 20px;
        }
        .header__logo {
            padding-top: 20px;
        }
        .header__email {
            padding-top: 40px;
        }
        .header__link {
            right: 110px;
        }
        .page{
            padding-top: 110px;
        }
    }

    .go-to-top{
        top: auto;
        bottom: 20px;
    }
}
@media(max-width: 992px){
    .d-flex-md{display: flex;}
    .text-md-left{text-align: left;}
    .margin-top-md-none{
        margin-top: 0px;
        &.margin-top{margin-top: 0px;}
    }
    .margin-top-md{
        margin-top: 30px;
        &.margin-top{margin-top: 30px;}
    }
    .margin-bottom-md-none{
        margin-bottom: 0px;
        &.margin-bottom{margin-bottom: 0px;}
    }
    .margin-bottom-md{
        margin-bottom: 30px;
        &.margin-bottom{margin-bottom: 30px;}
    }

    .header{
        &__logo{
            padding-top: 40px;
        }
        &__email{
            padding-top: 40px;
        }
        &__nav{
            top: 40px;
            right: calc((100% - 720px)/2 + 20px);
        }
    }
    .content{
        &_title{
            padding-top: 340px;
            &__elements {
                width: 680px;
            }
            .heading{
                font-size: 50px;
                line-height: 64px;
                margin-bottom: 40px;
            }
        }
        &_form{
            overflow: hidden;
            .element {
                width: 1200px;
            }
        }       
        &.blog{
            .blog__item + .blog__item{
                margin-top: 40px;
            }
        }
    }
    .footer{
        &__navbar{
            font-size: 14px;
            margin-top: 30px;
            justify-content: flex-start;
            margin-left: -10px;
            margin-right: -10px;
            &__item {
                padding: 10px;
                &.last{
                    padding: 10px;
                }
            }
        }
    }
    .item{
        &_last-md{
            margin-bottom: 0;
        }
    }
    .ad{
        .content{
            &_title{
                &__elements {
                    bottom: 60px;
                }
            }
            &_element{
                .element{
                    display: none;
                }
            }
        }
    }
    .dev{
        .content{
            &_title{
                .offer {
                    margin-bottom: 40px;
                }
            }
            &_element{
                .element{
                    display: none;
                }
            }
        }
    }
    .marketing{
        .content_color{
            padding: 50px 0;
            .row{
                flex-wrap: wrap;
                .column{
                    // max-width: 100%;
                    & + .column{
                        // margin-top: 50px;
                    }
                    .heading {
                        font-size: 26px;
                        line-height: 34px;
                        white-space: normal;
                        margin-bottom: 20px;
                        & + .offer {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        .content_padding{
            .element {
                bottom: -80px;
            }
        }
    }
    .seo{
        .content{
            .col-comment{
                .element_comment{
                    display: none;
                }
            }
        }
    }
    .design{
        .content{
            &_color{
                background-position-y: -70px;
                padding-top: 150px;
                .heading + .subheading {
                    margin-top: 40px;
                }
                .element{
                    margin: 60px 0;
                }
            }
        }
    }
    .blog{
        .header{
            &__email{
                left: 60px;
                right: auto;
                padding-top: 60px;
            }
            &__logo{
                width: 250px;
            }
        }
        .heading{
            font-size: 32px;
            line-height: 40px;
        }
    }
    .page{
        &__image{
            height: 300px;
        }
        &__info{
            // flex-wrap: wrap;
            .page__date,
            .page__person,
            .page__reading{
                font-size: 12px;
                padding: 10px 20px;
            }
            .page__breadcrumb{
                padding: 10px 20px;
                &.breadcrumb{
                    padding: 10px 20px;
                }
            }
            .page__person{
                padding: 10px 0;
            }
        }
        &__content {
            padding: 40px 20px 20px;
            font-size: 16px;
            line-height: 24px;
            .heading {
                font-size: 36px;
                line-height: 40px;
                margin-bottom: 40px;
            }
            h2,.h2{
                font-size: 32px;
                line-height: 38px;
            }
            h3,.h3{
                font-size: 26px;
                line-height: 32px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
            blockquote{
                padding-left: 40px;
                background: url('../images/icons/quotes.svg') no-repeat left top / 25px;
            }
        }
    }
    .go-to-top{
        top: auto;
        bottom: 20px;
    }
}
@media(max-width: 768px){
    .margin-top-sm-none{
        margin-top: 0px;
        &.margin-top{margin-top: 0px;}
    }
    .margin-top-sm{
        margin-top: 30px;
        &.margin-top{margin-top: 30px;}
    }
    .margin-bottom-sm-none{
        margin-bottom: 0px;
        &.margin-bottom{margin-bottom: 0px;}
    }
    .margin-bottom-sm{
        margin-bottom: 30px;
        &.margin-bottom{margin-bottom: 30px;}
    }
    .d-flex-sm{display: flex;}
    .header{
        &__logo{
            padding-top: 40px;
            width: 45px;
        }
        &__email{
            padding-top: 40px;
        }
        &__nav{
            top: 40px;
            right: calc((100% - 540px)/2 + 20px);
        }
    }
    .content{
        .element_point{
            max-width: 100%;
        }
        .heading {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 40px;
            &_small{
                font-size: 32px;
                line-height: 40px;
            }
            & + .offer{
                margin-top: 40px;
            }
        }
        &_title{
            padding-top: 240px;
            &__elements{
                width: 700px;
            }
        }
        &_contact{
            .form_inline{
                margin: 40px 0;
                .input-text {
                    width: calc(100% - 280px);
                }
                .btn {
                    width: 260px;
                }
            }
        }
        &_price{
            .content_price__container{
                & + .content_price__container{
                    margin-top: 50px;
                }
            }
            .element{
                display: none;
            }
        }
    }
    .portfolio{
        .heading {
            font-size: 54px;
            line-height: 62px;
        }
    }
    .list{
        &_ol{
            & + .list__item{
                margin-top: 20px;
            }
        }
    }
    .form{
        .input-text,
        .input-inline{
            font-size: 14px;
        }
    }
    .ad{
        .content{
            &_title{
                &__elements {
                    bottom: -100px;
                }
            }
        }
    }
    .dev{
        .item{
            &__header{
                font-size: 28px;
            }
        }
    }
    .seo{
        .content{
            &_color{
                .elements{
                    width: 100px;
                    margin: 40px auto;
                    display: block;
                }
            }
        }
    }  
    .design{
        .content{
            &_color{
                background-position-y: -50px;
                padding-top: 100px;
                .heading + .subheading {
                    margin-top: 40px;
                }
                .element{
                    margin: 40px 0;
                }
            }
        }
    }  
    .blog{
        .header{
            &__email{
                left: 20px;
                padding-top: 100px;
            }
        }
    }
    .inside-page{
        .header__logo{
            padding-top: 110px;
        }
    }
    .go-to-top{
        top: auto;
        bottom: 20px;
    }
}
@media(max-width: 576px){
    .margin-top-xs-none{
        margin-top: 0px;
        &.margin-top{margin-top: 0px;}
    }
    .margin-top-xs{
        margin-top: 30px;
        &.margin-top{margin-top: 30px;}
    }
    .margin-bottom-xs-none{
        margin-bottom: 0px;
        &.margin-bottom{margin-bottom: 0px;}
    }
    .margin-bottom-xs{
        margin-bottom: 30px;
        &.margin-bottom{margin-bottom: 30px;}
    }    
    .header{
        &__nav{
            top: 20px;
            right: 20px;
        }
        &__logo{
            left: 20px;
            padding-top: 20px;
            width: 50px;
        }
        &__email{
            left: auto;
            right: 30px;
            padding-top: 190px;
        }
    }
    .content{
        padding: 50px 0;
        .heading {
            font-size: 28px;
            line-height: 34px;
            &_small{
                font-size: 22px;
                line-height: 30px;
            }
        }
        &__btn{
            &__link{
                padding: 15px 15px 16px;
            }
        }
        &_title{
            padding-top: 250px;
            min-height: 550px;
            &__elements{
                width: 720px;
            }
            .heading{
                font-size: 30px;
                line-height: 40px;
            }
            .btn {
                margin-left: 0px;
            }

            & + .content{
                padding-top: 80px;
            }
        }
        &_section{
            .heading{
                font-size: 34px;
                line-height: 40px;
            }
        }
        &_portfolio{
            .heading{
                font-size: 34px;
                line-height: 40px;
            }
            &__elements{
                width: 260px;
                height: 260px;
            }
            .portfolio{
                margin-left: 0;
            }
        }
        &_price{
            .content_price__container{
                & + .content_price__container{
                    margin-top: 0px;
                }
            }
        }
        &_contact{
            padding-bottom: 50px;
            .form{
                .input-text{
                    float: none;
                    width: 100%;
                }
                .btn{
                    margin: 20px 0;
                    width: 100%;
                }
            }
        }
        &.blog{
            padding: 60px 0;
        }
    }
    .footer{
        &__email{
            margin-top: 10px;
        }
    }
    .portfolio{
        padding-top: 60px;
        &__elements{
            width: 200px;
            height: 200px;
        }
        .heading{
            font-size: 30px;
            line-height: 36px;
        }
        &__row{
            padding: 40px 0;
            width: 1200px;
            overflow-x: hidden;
        }
        &__item{
            width: 200px;
            height: 190px;
        }
    }
    .form{
        .input-text{
            font-size: 14px;
        }
        .input-inline{
            font-size: 14px;
        }
    }
    .btn{
        font-size: 16px;
        padding: 15px 40px;
        width: auto;
    }
    .item{
        &_info{
            padding: 20px;
        }
        &_result{
            .item__result{
                font-size: 24px;
            }
        }

        &__offer{
            font-size: 14px;
        }

        &_image{
            position: relative;
            padding: 0 26px;
            .item__number{
                position: absolute;
                margin: 0;
                left: -10px;
            }

        }
        
    }
    .project{
        .heading{
            & + .offer {
                margin: 20px 0 40px;
            }
        }
        &__task{
            &.margin-bottom {
                margin-bottom: 30px;
            }
            &__item{
                flex: 0 0 80px;
                max-width: 80px;
            }
            &__content{
                .offer{
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
    .price{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .index{
        .content{
            &_title{
                padding-bottom: 60px;
                .heading {
                    margin-bottom: 60px;
                }
            }
        }
    }
    .marketing{
        .content{
            &_form{
                .heading{
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            .list{
                padding: 20px;
            }
        }
    }
    .seo{
        .content{
            &_title{
                .heading{
                    font-size: 28px;
                    line-height: 38px;
                    word-break: break-word;
                }
            }
        }
    }
    .design{
        .content{
            &_color{
                background-position-y: -30px;
                padding-top: 80px;
                .heading + .subheading {
                    margin-top: 40px;
                }
                .element{
                    margin: 40px 0;
                }
            }
        }
    }

    .blog{
        .header{
            &__email{
                left: 20px;
                padding-top: 90px;
            }
        }
    }
    .page{
        &__image{
            height: 200px;
            margin-left: -20px;
            margin-right: -20px;
        }
        &__info{
            padding: 10px 0;
            margin-left: -20px;
            margin-right: -20px;
            flex-wrap: wrap;
            .page__date,
            .page__person,
            .page__reading{
                font-size: 14px;
                width: 100%;
                padding: 5px 20px;
                margin: 0;
            }
            .page__breadcrumb{
                padding: 5px 20px;
                &.breadcrumb{
                    padding: 5px 20px;
                }
            }
        }
        &__content {
            padding: 40px 20px 20px;
            margin-left: -20px;
            margin-right: -20px;
            font-size: 14px;
            line-height: 22px;
            .heading {
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 40px;
            }
            h2,.h2{
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 20px;
            }
            h3,h3{
                font-size: 20px;
                line-height: 26px;
            }
            h4,h4{
                font-size: 18px;
                line-height: 24px;
            }
            h5,.h5,h6,.h6{
                font-size: 16px;
                line-height: 24px;
            }
            p{
                font-size: 16px;
                line-height: 26px;
            }
            blockquote{
                padding-left: 30px;
                background: url('../images/icons/quotes.svg') no-repeat left top / 20px;
            }
        }
    }
    .inside-page{
        .header__email{
            padding-top: 20px;
            left: 20px;
        }
        .header__link {
            padding-top: 65px;
            right: auto;
            left: 20px;
        }
    }
    .go-to-top{
        top: auto;
        bottom: 20px;
    }
}
