@media(max-width: 1200px){
    .margin-bottom-lg{
        margin-bottom: 30px;
    }
    .header{
        &__nav{
            right: calc((100% - 960px)/2 + 20px);
        }
    }
    .content{
        &_title{
            &__elements {
                bottom: -100px;
            }
        }
        &_contact{
            .form_inline{
                margin-bottom: 40px;
            }
        }
    }
    .footer{
        &__navbar{
            font-size: 12px;
            &__item {
                padding: 0px 6px;
            }
        }
    }

    .price{
        &_large{
            .price__header {
                font-size: 18px;
            }
        }
    }

    .ad{
        .content{
            .list{
                &__item{
                    &_last{
                        margin-bottom: 0px;
                    }
                }
            }
            &_element{
                .element_1{
                    left: 0;
                    bottom: 370px;
                }
                .element_2 {
                    top: 100px;
                    right: 0;
                }
            }
            &_price{
                .element{
                    display: none;
                }
            }
        }
    }
    .dev{
        .content{
            &_price{
                .element{
                    display: none;
                }
            }
        }
    }
}
@media(max-width: 992px){
    .d-flex-md{display: flex;}
    .header{
        &__logo{
            padding-top: 40px;
            // width: 60px;
        }
        &__email{
            padding-top: 40px;
        }
        &__nav{
            top: 40px;
            right: calc((100% - 720px)/2 + 20px);
        }
    }
    .content{
        &_title{
            padding-top: 340px;
            &__elements {
                width: 680px;
            }
            .heading{
                font-size: 50px;
                line-height: 64px;
                margin-bottom: 40px;
            }
        }
        &.blog{
            .blog__item + .blog__item{
                margin-top: 40px;
            }
        }
    }
    .footer{
        &__navbar{
            font-size: 14px;
            margin-top: 30px;
            justify-content: flex-start;
            margin-left: -10px;
            margin-right: -10px;
            &__item {
                padding: 10px;
                &.last{
                    padding: 10px;
                }
            }
        }
    }
    .item{
        &_last-md{
            margin-bottom: 0;
        }
    }
    .ad{
        .content{
            &_title{
                &__elements {
                    bottom: 60px;
                }
            }
            &_price{
                .element{
                    display: block;
                }
                .element_1 {
                    width: 210px;
                    top: -10px;
                    left: 0;
                }
                .element_2{
                    width: 190px;
                    bottom: -30px;
                    right: 0;
                }
                .element_3 {
                    width: 180px;
                    top: 130px;
                    right: 0;
                }
            }
            &_element{
                .element{
                    display: none;
                }
            }
        }
    }
    .dev{
        .content{
            &_title{
                .offer {
                    margin-bottom: 40px;
                }
            }
            &_element{
                .element{
                    display: none;
                }
            }
            &_price{
                .element{
                    display: block;
                }
                .element_1 {
                    width: 210px;
                    top: -10px;
                    left: 0;
                }
                .element_2{
                    width: 190px;
                    bottom: -50px;
                    right: 0;
                }
                .element_3 {
                    width: 180px;
                    top: 130px;
                    right: 0;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .margin-top-sm-none{
        margin-top: 0px;
        &.margin-top{margin-top: 0px;}
    }
    .margin-top-sm{
        margin-top: 30px;
        &.margin-top{margin-top: 30px;}
    }
    .margin-bottom-sm-none{
        margin-bottom: 0px;
        &.margin-bottom{margin-bottom: 0px;}
    }
    .margin-bottom-sm{
        margin-bottom: 30px;
        &.margin-bottom{margin-bottom: 30px;}
    }
    .d-flex-sm{display: flex;}
    .header{
        &__logo{
            padding-top: 40px;
            width: 45px;
        }
        &__email{
            padding-top: 40px;
        }
        &__nav{
            top: 40px;
            right: calc((100% - 540px)/2 + 20px);
        }
    }
    .content{
        .element_point{
            max-width: 100%;
        }
        .heading {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 40px;
            &_small{
                font-size: 32px;
                line-height: 40px;
            }
            & + .offer{
                margin-top: 40px;
            }
        }
        &_title{
            padding-top: 240px;
            &__elements{
                width: 700px;
            }
        }
        &_contact{
            .form_inline{
                margin: 40px 0;
                .input-text {
                    width: calc(100% - 280px);
                }
                .btn {
                    width: 260px;
                }
            }
        }
        &_price{
            .content_price__container{
                & + .content_price__container{
                    margin-top: 50px;
                }
            }
            .element{
                display: none;
            }
        }
    }
    .portfolio{
        .heading {
            font-size: 54px;
            line-height: 62px;
        }
    }
    .list{
        &_ol{
            & + .list__item{
                margin-top: 20px;
            }
        }
    }
    .ad{
        .content{
            &_title{
                &__elements {
                    bottom: -100px;
                }
            }
        }
    }
    .dev{
        .item{
            &__header{
                font-size: 28px;
            }
        }
    }
}
@media(max-width: 576px){
    .margin-top-xs-none{
        margin-top: 0px;
        &.margin-top{margin-top: 0px;}
    }
    .margin-top-xs{
        margin-top: 30px;
        &.margin-top{margin-top: 30px;}
    }
    .margin-bottom-xs-none{
        margin-bottom: 0px;
        &.margin-bottom{margin-bottom: 0px;}
    }
    .margin-bottom-xs{
        margin-bottom: 30px;
        &.margin-bottom{margin-bottom: 30px;}
    }    
    .header{
        &__nav{
            top: 20px;
            right: 20px;
        }
        &__logo{
            left: 20px;
            padding-top: 20px;
            width: 50px;
        }
        &__email{
            left: auto;
            right: 30px;
            padding-top: 190px;
        }
    }
    .content{
        padding: 50px 0;
        .heading {
            font-size: 28px;
            line-height: 34px;
            &_small{
                font-size: 22px;
                line-height: 30px;
            }
        }
        &__btn{
            &__link{
                padding: 15px 15px 16px;
            }
        }
        &_title{
            padding-top: 250px;
            .heading{
                font-size: 30px;
                line-height: 40px;
            }
            .btn {
                margin-left: 0px;
            }
        }
        &_section{
            .heading{
                font-size: 34px;
                line-height: 40px;
            }
        }
        &_portfolio{
            .heading{
                font-size: 34px;
                line-height: 40px;
            }
            &__elements{
                width: 260px;
                height: 260px;
            }
            .portfolio{
                margin-left: 0;
            }
        }
        &_price{
            .content_price__container{
                & + .content_price__container{
                    margin-top: 0px;
                }
            }
        }
        &_contact{
            padding-bottom: 60px;
            .heading{
                margin-top: 40px;
            }
            .form{
                .input-text{
                    float: none;
                    width: 100%;
                }
                .btn{
                    margin: 20px 0;
                    width: 320px;
                }
            }
        }
        &.blog{
            padding: 60px 0;
        }
    }
    .footer{
        &__email{
            margin-top: 10px;
        }
    }
    .portfolio{
        padding-top: 60px;
        &__elements{
            width: 200px;
            height: 200px;
        }
        .heading{
            font-size: 30px;
            line-height: 36px;
        }
        &__row{
            padding: 40px 0;
            width: 1200px;
            overflow-x: hidden;
        }
        &__item{
            width: 200px;
            height: 190px;
        }
    }
    .btn{
        font-size: 14px;
        padding: 15px 20px;
        width: auto;
    }
    .item{
        &_info{
            padding: 20px;
        }
        &_result{
            .item__result{
                font-size: 24px;
            }
        }

        &__offer{
            font-size: 14px;
        }
        
    }
    .project{
        .heading{
            & + .offer {
                margin: 20px 0 40px;
            }
        }
        &__task{
            &.margin-bottom {
                margin-bottom: 30px;
            }
            &__item{
                flex: 0 0 80px;
                max-width: 80px;
            }
            &__content{
                .offer{
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
    .price{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .index{
        .content{
            &_title{
                padding-bottom: 60px;
                &__elements{
                    width: 720px;
                }
                .heading {
                    margin-bottom: 60px;
                }
            }
        }
    }
    .ad{
        .content{
            &_title{
                &__elements {
                    display: none;
                }
            }
        }
    }
}
