@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

@import "variable.scss";
@import "buttons.scss";
@import "form.scss";
@import "toggle-tabs.scss";
@import "header.scss";
@import "footer.scss";
@import "blog.scss";
@import "portfolio.scss";

@import "node_modules/bootstrap/scss/vendor/_rfs.scss";
@import "node_modules/bootstrap/scss/mixins/_hover.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "node_modules/bootstrap/scss/utilities/_flex.scss";

@import "node_modules/bootstrap/scss/mixins/_grid-framework.scss";
@import "node_modules/bootstrap/scss/mixins/_grid.scss";
@import "node_modules/bootstrap/scss/_grid.scss";

@import "reboot.scss";


html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;
    &:hover, &:focus{
        outline: none;
    }
}

.p-relative{position: relative;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.text-darkblue{color:$darkblue;}
.text-red{color:$red;}

.text-uppercase{text-transform: uppercase; }
.text-bold{font-weight: 700;}

.content{
    position: relative;
    padding: 100px 0;
    .heading{
        font-size: 54px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 0;
        &_small{
            font-size: 32px;
            line-height: 40px;
        }
        &_medium{
            font-size: 42px;
            line-height: 50px;
        }
        & + .subheading{
            margin-top: 40px;
        }
        & + .offer{
            margin-top: 40px;
        }
        & + .toggle-tabs{
            margin-top: 50px;
        }
    }
    .subheading{
        font-weight: 700;
        text-transform: uppercase;
        & + .offer{
            margin-top: 40px;
        }
    }
    .offer{
        font-size: 16px;
        line-height: 26px;
        color: $grey;
        margin-bottom: 40px;
        &.last{
            margin-bottom: 0;
        }
    }
    &__btn{
        margin: 40px 0;
        &__link{
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            padding: 15px 30px 16px; 

            margin-right: 15px;
            margin-bottom: 15px;

            color: $grey;
            background: linear-gradient(-45deg, #d4d4d4 0%, #d0cbe3 62%, #d5c3ff 100%);

            &:hover{
                color: $darkblue;
                text-decoration: none;
            }
        }
    }
    .element{
        &_point{
            position: absolute;
            left: -140px;
            bottom: -40px;
            width: 500px;
            height: 500px;
            z-index: -1;
            background: url("../images/points.png") no-repeat right center / cover;
        }
        &_01{
            position: absolute;
            bottom: 0;
            right: -100px;

            width: 1200px;
        }
        &_02{
            position: absolute;
            top: 0;
            left: -30px;

            width: 600px;
        }
        &_03{
            position: absolute;
            width: 550px;
            height: 550px;
            top: calc(50% - 275px);
            right: calc((100% - 1380px)/2);
        }
    }
    .margin-top{
        margin-top: 50px;
    }
    .margin-bottom{
        margin-bottom: 50px;
    }
    /* HEADING BLOCK */
    &_title{
        background: linear-gradient(45deg, #2b248a 0%, #361cbc 100%);
        padding: 260px 0 120px;
        min-height: 100vh;
        &__svg{
            position: absolute;
            left: 0;
            top: 0;
            width:100%;
            height:520px;
            #filter_0{
                width:100%;
                height:520px;
            }
        }
        &__elements{
            position: absolute;
            bottom: -150px;
            right: 0px;
            width: 750px;
            height: 750px;
        }
        .heading{
            color: #fff;
            font-size: 64px;
            line-height: 72px;
            margin-bottom: 100px;
        }
        .offer{
            color: $white;
            font-size: 18px;
            line-height: 26px;
        }
    }
    /* CONTACT BLOCK */
    &_contact{
        background: #222222;
        z-index: 1;
        .heading{
            font-size: 46px;
            line-height: 52px;
            color:$white;
        }
        .form{
            margin-top: 80px;
            margin-bottom: 0;
            &_inline{
                .input-text{
                    float: left;
                    width: calc(100% - 340px);
                }
                .btn{
                    margin-left: 20px;
                    width: 320px;
                    max-width: 100%;
                }
            }
            .input-text{
                color: #fff;
                background: #272727;
            }
        }
    }
    /* PREVIEW LAST BLOG POST */
    &.blog{
        background: #272727;
        color: #fff;
        .heading{
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 40px;
        }
        .link{
            color: $yellow;
            &:hover{
                color: lighten($color: $yellow, $amount: 15%);
            }
        }
        .blog__item{
            padding-top: 0;
            margin-bottom: 0;
            &__title{
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 20px;

                text-transform: none;
                padding: 0;
                height: auto;
            }
            &__offer{
                font-size: 14px;
                color: $lightgrey;

                padding: 0;
            }
        }
    }
    /* PRICE BLOCK */
    &_price{
        background: #272727;
        color: $white;
        .offer{
            color: darken($color: $white, $amount: 50%);
            width: 650px;
            max-width: 100%;
            margin: 0 auto;
        }
        .content_price__container + .content_price__container{
            margin-top: 100px;
        }
    }
}
/* FOR INSIDE PAGE */
.index{
    .header{
        &__email{
            color: $yellow;
        }
        &__nav{
            background: $darkblue;
        }
    }
    .content{
        &_title{
            .btn{
                border: 4px solid $white;
                &:hover{
                    border-color: darken($white, 25%);
                }
            }
        }
    }
}
.dev{
    .header{
        &__email{
            color: $red;
        }
        &__nav{
            background: $red;
        }
    }
    .content{
        &_title{
            background: linear-gradient(-135deg, #fdc830 0%, #fed61d 100%);
            .heading{
                margin-bottom: 50px;
            }
            .offer{
                margin-bottom: 100px;
            }
            &__svg{
                top: -30px;
            }
            &__elements{
                bottom: -100px;
            }
        }
        &_background{
            background: url("../images/bg_dev.png") no-repeat left bottom / 680px;
        }
        &_color{
            overflow: hidden;
            padding: 150px 0;
            background: linear-gradient(90deg, #fdc830 0%, #fed61d 100%);
            // min-height: 100vh;
            .subheading{
                color: #a47a00;
            }
            .offer{
                color: $black;
            }
        }
    }
    .price{
        &_large{
            .price__header{
                background: linear-gradient(-135deg, #fdc830 0%, #fed61d 100%);
            }
        }
    }
}

/* STYLE ITEM*/
.item{
    margin-bottom: 40px;
    &__header{
        font-size: 32px;
        font-weight: 700;

        white-space: nowrap;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #d3d3d4;
    }
    &__offer{
        font-size: 16px;
        color: $grey;

        width: 240px;
        max-width: 100%;
    }
}

/* PRICE BLOCK */
.price{
    position: relative;
    text-align: center;
    background: #3d3d3d;
    border-radius: 30px;

    width: 330px;
    max-width: 100%;
    margin: 50px auto 0;

    .price__header{
        display: inline-block;
        padding: 12px 40px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 15px;
        background-image: linear-gradient( -45deg, rgb(50,43,143) 0%, rgb(63,36,166) 62%, rgb(76,28,188) 100%);          
        transform: translateY(-50%);
    }    
    .price__content{
        font-size: 14px;
        line-height: 22px;
        color: darken($color: $white, $amount: 30%);
        padding: 0 30px;
        p{
            margin-bottom: 10px;
        }
    }
    .price__time{
        font-size: 22px;
        color: $white;
        font-weight: bold;
        margin: 20px 0;
        padding: 0 30px;
    }
    .price__info{
        font-size: 12px;
        color: darken($color: $white, $amount: 40%);
    }
    .price__footer{
        color: #b2afaf;
        background: #515151;
        border-radius: 0 0 30px 30px;
        padding: 10px 30px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        margin-top: 20px;
    }
    &_large{
        width: 400px;
        .price__header{
            font-size: 20px;
        }
        .price__content{
            font-size: 16px;
            line-height: 24px;
        }
        .price__time{
            font-size: 26px;
        }
    }
}
.price-line{
    color: darken($color: $white, $amount: 30%);
    background: rgba(255,255,255,.1);
    font-size: 14px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &.even{
        background: rgba(255,255,255,.05);
    }
    .price-line__title{
        padding-right: 30px;
    }
    .price-line__value{
        color: darken($color: $white, $amount: 15%);
        font-size: 18px;
        white-space: nowrap;
    }
}
@import "media.scss";