@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

@import "variable.scss";
@import "buttons.scss";
@import "form.scss";
@import "toggle-tabs.scss";
@import "header.scss";
@import "footer.scss";
@import "blog.scss";
@import "portfolio.scss";

@import "node_modules/bootstrap/scss/vendor/_rfs.scss";
@import "node_modules/bootstrap/scss/mixins/_hover.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "node_modules/bootstrap/scss/utilities/_flex.scss";

@import "node_modules/bootstrap/scss/mixins/_grid-framework.scss";
@import "node_modules/bootstrap/scss/mixins/_grid.scss";
@import "node_modules/bootstrap/scss/_grid.scss";

@import "reboot.scss";


html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;
    &:hover, &:focus{
        outline: none;
    }
}
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}


.content{
    position: relative;
    .heading{
        font-weight: 700;
        & + .offer{
            margin-top: 40px;
        }
    }
    .offer{
        font-size: 16px;
        line-height: 26px;
        color: $grey;
    }
    &__btn{
        margin: 60px 0 50px;
        &__link{
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            border-radius: 30px;
            padding: 15px 30px 16px; 

            margin-right: 15px;
            margin-bottom: 15px;

            color: $grey;
            background: linear-gradient(-45deg, #d4d4d4 0%, #d0cbe3 62%, #d5c3ff 100%);

            &:hover{
                color: $darkblue;
                text-decoration: none;
            }
        }
    }
    /* INDEX PAGE BLOCK */
    &_title{
        background: linear-gradient(45deg, #2b248a 0%, #361cbc 100%);
        padding: 260px 0 120px;
        &__svg{
            position: absolute;
            left: 0;
            top: 0;
            width:100%;
            height:520px;
            #filter_0{
                width:100%;
                height:520px;
            }
        }
        &__elements{
            position: absolute;
            bottom: -150px;
            right: 0px;
            width: 750px;
            height: 750px;
        }
        .heading{
            padding-left: 40px;
            color: #fff;
            font-size: 64px;
            line-height: 72px;
            margin-bottom: 100px;
        }
        .btn{
            margin-left: 40px;
        }
    }
    &_section{
        padding: 100px 0;
        .heading{
            font-size: 54px;
            line-height: 60px;
            color:$grey;
            .heading-color{
                color:$darkblue;
            }
        }
        .toggle-tabs{
            margin-top: 60px;
        }
    }
    &_portfolio{
        z-index: 2;
        padding: 100px 0 300px;
        background: #222222 url("../images/bg_portfolio.svg") no-repeat center bottom/ cover;
        &__elements{
            position: absolute;
            top: 160px;
            left: 0px;
            width: 460px;
            height: 460px;
        }
        .heading{
            font-size: 64px;
            line-height: 72px;
            color: #fff;
            &__link{
                color: #fff;
            }
        }
        &__link{
            text-transform: uppercase;
            padding-top: 42px;
        }
        .portfolio{
            margin-left: 100px;
            overflow-x: scroll;
        }
    }
    &_contact{
        background: #222222;
        padding: 340px 0 100px;
        margin-top: -300px;
        z-index: 1;
        &.inside{
            margin-top: 0;
            padding: 100px 0;
        }
        .heading{
            font-size: 46px;
            line-height: 52px;
            color:#fff;
        }
        .offer{
            font-size: 14px;
            line-height: 22px;
            margin-top: 50px;
        }
        .form{
            margin-top: 70px;
            &_inline{
                .input-text{
                    float: left;
                    width: calc(100% - 340px);
                }
                .btn{
                    margin-left: 20px;
                    width: 320px;
                    max-width: 100%;
                }
            }
            .input-text{
                color: #fff;
                background: #272727;
            }
        }
    }
    &_blog{
        background: #272727;
        color: #fff;
        padding: 80px 0;
        .heading{
            font-size: 28px;
            margin-bottom: 40px;
        }
        .blog__item{
            &__title{
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            &__offer{
                font-size: 14px;
                color: $lightgrey;
            }
        }
    }
}

@import "media.scss";