.portfolio{
    position: relative;
    z-index: 2;
    padding: 100px 0 300px;
    background: #222222 url("../images/bg_portfolio.svg") no-repeat center bottom/ cover;

    .heading{
        font-size: 64px;
        line-height: 72px;
        color: $white;
        &__link{
            color: $white;
            &:hover{
                color: $yellow;
            }
        }
    }

    &__elements{
        position: absolute;
        top: 160px;
        left: 0px;
        width: 460px;
        height: 460px;
        z-index: -1;
    }
    &__row{
        width: 2000px;
        text-align: right;
        padding: 80px 0;
        overflow-x: hidden;
        overflow-y: hidden;

        &:focus{
            outline: none;
        }
    }
    &__item{
        float: left;
        margin-right: 40px;
        width: 360px;
        height: 310px;
    }
    &__title{
        display: inline-block;
        margin-left: auto;
        color: #fff;
        text-transform: uppercase;
        text-align: right;
        font-weight: 600;
        margin-bottom: 20px;
        &:hover{
            color: $yellow;
        }
    }
    &__image{
        width: 100%;
        max-width: 100%;
    }
    &__link{
        padding-top: 42px;
        text-transform: uppercase;
        color: $yellow;
        &:hover{
            color: lighten($yellow, 15%);
        }
    }

    & + .content{
        padding-top: 340px;
        margin-top: -340px;
    }
}