.post-preview{
    position: relative;
    padding: 100px 0;
    color: $white;
    background: darken($darkgrey, 4%);

    &_portfolio{
        background: darken($darkgrey, 3%);
        padding: 60px 0 20px;

    }

    .heading{
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 40px;
    }
    .link{
        color: $yellow;
        &:hover{
            color: lighten($color: $yellow, $amount: 15%);
        }
    }

    &__item{
        &__title{
            font-size: 22px;
            font-weight: 600;
            color: $white;
            margin-bottom: 20px;

            &:hover{
                color: $yellow;
            }
        }
        &__offer{
            font-size: 14px;
            color: $lightgrey;
        }
    }
}

/* Media */
@media(max-width: 1400px){}
@media(max-width: 992px){
    .post-preview{
        &__item{
            margin-bottom: 40px;
            &.last{
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
@media(max-width: 768px){
}
@media(max-width: 576px){
    .post-preview{
        padding: 60px 0;
    }
}

/* Castomize column */
@media (min-width: 992px){
    .post-preview .col-lg-3 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
}