.project{
    .heading{
        & + .offer{
            margin: 20px 0 60px;
        }
    }
    .offer{
        margin-bottom: 20px;
    }
    &__stats{
        padding-top: 120px;
        padding-left: 100px;
        padding-bottom: 15px;
        max-width: 400px;

        background-position: left bottom;
        background-repeat: no-repeat;

        &.offer{
            line-height: 20px;
        }
    }
    &__task{
        display: flex;
        flex-wrap: nowrap;

        margin-bottom: 40px;

        &__item{
            font-size: 12px;
            line-height: 26px;

            padding-right: 20px;
            text-transform: uppercase;

            flex: 0 0 110px;
            max-width: 110px;

            color: $lightgrey;
        }
        &__content{
            .offer{
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}

/* Media */
@media(max-width: 1400px){}
@media(max-width: 992px){}
@media(max-width: 768px){}
@media(max-width: 576px){
    .project{
        .heading{
            margin-bottom: 20px;
            & + .offer {
                font-size: 14px;
                margin: 0 0 40px;
            }
        }
        &__task{
            flex-wrap: wrap;
            &__item{
                // flex: 0 0 80px;
                // max-width: 80px;

                margin-bottom: 10px;
            }
        }
    }
}