.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background: url("../icon/checkmark.svg") no-repeat center / 8px;

            width: 14px;
            height: 14px;

            position: absolute;
            left: 0;
            top: calc( 50% - 7px);
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 24px;
        // line-height: 12px;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $grey;

            width: 14px;
            height: 14px;

            position: absolute;
            left: 0;
            top: calc( 50% - 7px);
        }
    }
}