.input{
    background-color: inherit;
    color: $white;
    border: 1px solid $border-color;

    font-size: map-get($map: $font-size, $key: "md");
    line-height: 1;

    padding: 15px 24px;    
    transition: .4s;

    &::placeholder{
        font-size: map-get($map: $font-size, $key: "md");
        line-height: 1;
    
        transition: .4s;
        color: $grey;
    }
    &:hover, &:focus{
        border-color: $border-color;
        outline: none;
    }
    &:focus::placeholder{
        opacity: 0;
    }
    // Состояние
    &--full{
        width: 100%;
    }
}

