.item_price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: $white;
    color: $black;
    padding: $grid-gutter-width;

    // width: 795px;
    width: 100%;
    max-width: 100%;
    
    transition: .4s;
    cursor: pointer;

    // Content Col
    &__content{
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    // Price Col
    &__info{
        flex: 0 0 200px;
        max-width: 200px;
    }
    // Main Title
    &__title{
        font-size: 2rem;
        line-height: $line-height-heading;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: $spacer/4;

        & + .item_price__add{
            margin-top: $spacer/2;
        }
    }
    // Price Info
    &__add{
        font-size: 1.35rem;
        line-height: $line-height-heading;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: .5;
    }
    &__add-intro{
        font-size: map-get($map: $font-size, $key: "sm");
        line-height: 18px;
        margin-top: 4px;
        opacity: .5;

        & + .item_price__add{
            margin-top: $spacer/4;
        }
    }
    // Tags
    &__group{
        margin-top: $spacer/2;
    }
    &__label{
        display: inline-block;
        font-size: map-get($map: $font-size, $key: "sm");

        // background-color: $black;
        // color: $white;
        background: $white;
        border: 1px solid $black;

        padding: 4px 8px;
        margin: 2px;

        &_action{
            background-color: $black;
            border-color: $black;
            color: $white;
        }
    }

    // Selected Item
    &-promo{
        background-color: $green;
        // color: $black;
    }


    // Forse state
    &:hover, &:focus{
        transform: scale(1.04);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_price{
        // Content Col
        &__content{
            flex: 0 0 calc(100% - 200px);
            max-width: calc(100% - 200px);
        }
        // Price Col
        &__info{
            flex: 0 0 150px;
            max-width: 150px;
        }
        &__group{
            margin-top: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_price{
        // Content Col
        &__content{
            flex: 0 0 calc(100% - 150px);
            max-width: calc(100% - 150px);
        }
        // Price Col
        &__info{
            flex: 0 0 130px;
            max-width: 130px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .item_price{
        padding: $spacer/2;

        &__content{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: $spacer/2;
        }
    }
}