.item_service{
    border: 1px solid $border-color;
    padding: $spacer/2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: map-get($map: $spacers, $key: 2);

    &__image{
        border: 1px solid $border-color;
        background: no-repeat center / contain;

        width: 100%;
        // min-height: 150px;
        // height: 100%;
    }
    &__title{
        font-family: $font-family-heading;
        margin-bottom: 0;
    }
}
// @media all and (max-width: map-get($grid-breakpoints, 'sm')){
//     .item_service{
//         &__image{
//             height: 100px;
//             &--first{
//                 height: 285px;
//             }
//         }
//     }
// }
// @media all and (max-width: map-get($grid-breakpoints, 'xs')){
//     .item_service{
//         &__image{
//             height: 120px;
//             min-height: 1px;
//         }
//     }
// }

// @media all and (max-width: map-get($grid-breakpoints, 'xxs')){
//     .item_service{
//         &__image{
//             height: 90px;
//             min-height: 1px;
//         }
//     }
// }