h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    line-height: $line-height-heading;
    margin-bottom: map-get($map: $spacers, $key: 2);

    &:last-child{
        margin-bottom: 0;
    }
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: map-get($map: $spacers, $key: 3);
}
.h1,h1{font-size: map-get($map: $heading, $key: h1);}
.h2,h2{font-size: map-get($map: $heading, $key: h2);}
.h3,h3{font-size: map-get($map: $heading, $key: h3);}
.h4,h4{font-size: map-get($map: $heading, $key: h4);}
.h5,h5{font-size: map-get($map: $heading, $key: h5);}
.h6,h6{font-size: map-get($map: $heading, $key: h6);}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .h1,h1{font-size: map-get($map: $heading, $key: h2);}
    .h2,h2{font-size: map-get($map: $heading, $key: h3);}
    .h3,h3{font-size: map-get($map: $heading, $key: h4);}
    .h4,h4{font-size: map-get($map: $heading, $key: h5);}
    .h5,h5{font-size: map-get($map: $heading, $key: h6);}
    .h6,h6{font-size: map-get($map: $font-size, $key: lg);}
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .h1,h1{font-size: map-get($map: $heading, $key: h3);}
    .h2,h2{font-size: map-get($map: $heading, $key: h4);}
    .h3,h3{font-size: map-get($map: $heading, $key: h5);}
    .h4,h4{font-size: map-get($map: $heading, $key: h6);}
    .h5,h5{font-size: map-get($map: $font-size, $key: lg);}
    .h6,h6{font-size: map-get($map: $font-size, $key: md);}
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    // .h1,h1{font-size: map-get($map: $heading, $key: h4);}
    // .h2,h2{font-size: map-get($map: $heading, $key: h5);}
    .h3,h3{font-size: map-get($map: $heading, $key: h6);}
    .h4,h4{font-size: map-get($map: $font-size, $key: lg);}
    .h5,h5{font-size: map-get($map: $font-size, $key: md);}
    .h6,h6{font-size: map-get($map: $font-size, $key: sm);}
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .h1,h1{font-size: map-get($map: $heading, $key: h4);}
    .h2,h2{font-size: map-get($map: $heading, $key: h5);}
}