.form{
    .input-text{
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        text-align: center;

        border: none;
        border-radius: 30px;
        padding: 15px 40px;
        
        width: 100%;
        color: #232323;
        background: #fff;

        &:hover, &:focus{
            outline: none;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
            }
        }
    }

    .input-inline{
        background: inherit;
        border: none;
        border-bottom: 1px solid #fff;
        width: 100%;
        display: block;

        resize: none;
        padding: 20px;
        
        &:hover, &:focus{
            outline: none;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
            }
        }

        & + .btn{
            margin-top: 30px;
        }
    }

    &_column{
        .has-validation + .input-text,
        .input-text + .has-validation,
        .input-text + .input-text,
        .input-text + .btn{
            margin-top: 30px;
        }
    }
}

/* FORM ERROR */
.has-validation .form-validation .error{
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 10px;
    color: $red;
}

/* Personal Policy */
.policy{
    display: flex;

    color: $white;
    opacity:0.4;
        
    font-size:12px;
    line-height: 12px;

    margin-top:10px;
    transition: .2s;

    outline: none;
    
    &:hover{
        opacity: .6;
    }

    .policy__checkbox{
        margin-right: 10px;
        cursor: pointer;
        &:focus{
            outline-color: $white;
        }
    }
    .policy__offer{
        margin-bottom: 0;
        cursor: pointer;
        .link{
            color: $white;
            text-decoration: underline;
        }
    }
}
/* Media */
@media(max-width: 1400px){}
@media(max-width: 992px){}
@media(max-width: 768px){
    .form{
        .input-text{
            font-size: 14px;
        }
        .input-inline{
            font-size: 14px;
        }
    }
}
@media(max-width: 576px){}