html(lang="ru", dir="ltr")
    include chunks/head.pug
    body.fulldev
        script(src="./js/jquery.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")
        include chunks/header.pug
        main
            article
                header.content.content_title
                    svg.content_title__svg(viewBox="0 0 1920 520" preserveAspectRatio="xMidYMax slice")
                        defs
                            filter#shadow_03(filterUnits="objectBoundingBox" height="130%" width="140%" x="-15%" y="-15%")
                                feGaussianBlur(in="SourceAlpha" result="blur" stdDeviation="5")
                                feOffset(dx="2" dy="6" in="blur" result="offsetBlurredAlpha")
                                feComponentTransfer
                                    feFuncA(type="linear" slope="0.2")
                                feMerge
                                    feMergeNode
                                    feMergeNode(in="SourceGraphic")
                            linearGradient(id="PSgrad_0" x1="0%" x2="50%" y1="100%" y2="0%")
                                stop(offset="0%" stop-color="#526bb6" stop-opacity="1")
                                stop(offset="100%" stop-color="#738dcd" stop-opacity="1")
                        path(fill="url(#PSgrad_0)" filter="url(#shadow_03)" d="M1952.000,0.000 L0.000,0.000 C0.000,0.000 0.000,0.000 0.000,62.261 C48.455,87.927 227.239,217.781 370.380,209.418 C543.886,199.297 539.967,119.636 732.975,108.649 C895.861,99.358 895.062,345.632 945.000,414.000 C1039.188,542.961 1243.446,475.024 1406.000,401.000 C1458.954,376.881 1673.736,238.965 1716.000,215.000 C1805.329,164.347 1952.000,205.000 1952.000,205.000 L1952.000,0.000 Z")
                    .content_title__elements
                        svg.elements(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                            defs
                                filter#shadow(filterUnits="objectBoundingBox" height="130%" width="140%" x="-15%" y="-15%")
                                    feGaussianBlur(in="SourceAlpha" result="blur" stdDeviation="3")
                                    feOffset(dx="5" dy="5" in="blur" result="offsetBlurredAlpha")
                                    feComponentTransfer
                                        feFuncA(type="linear" slope="0.2")
                                    feMerge
                                        feMergeNode
                                        feMergeNode(in="SourceGraphic")
                                linearGradient#gradient(data-name="gradient" x1="0%" y1="0%" x2="100%" y2="100%" gradientUnits="userSpaceOnUse")
                                    stop(offset="0" stop-color="#526bb6")
                                    stop(offset="1" stop-color="#738dcd")
                            g(fill-rule="nonzero")
                                path(style="fill: url(#gradient); filter: url(#shadow);" d="M10,90c0-44.2,35.8-80,80-80s80,35.8,80,80 M10,90c0,44.2,35.8,80,80,80s80-35.8,80-80 M111.3,90c0,11.7-9.5,21.3-21.3,21.3S68.7,101.7,68.7,90 M111.3,90c0-11.7-9.5-21.3-21.3-21.3S68.7,78.3,68.7,90")
                    .container
                        .row
                            .col-xl-5.col-md-8.col-10.offset-md-2.offset-xl-1
                                h1.heading Разработка сайта под&nbsp;ключ
                                .offer Вам больше не&nbsp;нужно искать специалистов по&nbsp;дизайну верстке, контенту, 
                                    | оптимизации и&nbsp;рекламе. Разработаем сайт, который поможет решить поставленные задачи 
                                    | любой сложности. 
                section.content.content_background
                    .container.p-relative
                        .element.element_point
                        .row
                            .col-xl-9.offset-xl-1.col-lg-8
                                h2.heading.margin-bottom Какой сайт вам нужен?
                            .col-xl-7.offset-xl-1
                                .row.justify-content-between
                                    .col-xl-3.col-lg-3.col-sm-5
                                        .item
                                            .item__header Landing
                                            .item__offer.small
                                                p Максимально информативный сайт с высокой конверсией, состоящий из 
                                                    | одной страницы.
                                                p Предназначен для продажи конкретного товара или услуги.
                                    .col-xl-3.col-lg-3.col-sm-5
                                        .item
                                            .item__header Сайт-визитка
                                            .item__offer.small
                                                p Ресурс предназначеный для презентации компании. 
                                                p Включает в&nbsp;себя несколько 
                                                    | страниц с&nbsp;информацией о&nbsp;фирме и услугах.
                                                    | Готов к&nbsp;продвижению в&nbsp;поисковых системах.
                                    .col-xl-3.col-lg-3.col-sm-5
                                        .item
                                            .item__header Каталог
                                            .item__offer.small
                                                p Такой сайт используется для&nbsp;информирования о&nbsp;предоставляемых услугах и&nbsp;товарах: описание, характеристики, стоимость.
                                                p Без осуществления прямых продаж.
                                    .col-xl-3.col-lg-3.col-sm-5
                                        .item
                                            .item__header Промо-сайт
                                            .item__offer.small
                                                p Чаще всего требуются уже существующему бизнесу, как площадка для проведения конкурсов или презентации нового продукта. 
                                                p Это отличный инструмент для создания имиджа компании, дающий возможность неформально пообщаться с аудиторией.
                                    .col-xl-3.col-lg-3.col-sm-5
                                        .item
                                            .item__header Корпоративный
                                            .item__offer.small
                                                p Официальное представления компании в&nbsp;Интернете, предназначен для&nbsp;публикации актуальной информации 
                                                    | и&nbsp;новостей. 
                                                p Отличие от сайта-визитки — имеет больший объём, сложную структуру и&nbsp;содержит более подробную информацию 
                                                    | о&nbsp;товарах и услугах.
                                    .col-xl-3.col-lg-3.col-sm-5
                                        .item
                                            .item__header Интернет-магазин 
                                            .item__offer.small
                                                p С помощью сайта осуществляется продажа товаров, представленных в&nbsp;каталоге. 
                                                p Возможно подключение всего необходимого функционала: корзины, системы оплаты, фильтров товаров, личного кабинета покупателя.
                            .col-xl-5.offset-xl-4.col-lg-7.offset-lg-3.margin-top
                                h3.heading.heading_small.margin-bottom Вне зависимости от выбранной услуги 
                                    span.text-blue вы гарантированно получите
                                ol.list.list_ol
                                    li.list__item Адаптацию сайта под смартфоны и планшеты
                                    li.list__item Дизайн с учетом ваших пожеланий и тематики бизнеса
                                    li.list__item Систему для самостоятельного управления сайтом (CMS)
                                    li.list__item Возможность самостоятельно добавлять страницы
                                    li.list__item Контактные Формы с призывами к действию
                                    li.list__item Базовую оптимизацию под поисковые системы
                                p.heading.margin-top Что мы 
                                    span.text-blue предлагаем?
                                p.offer Идеальное решение.
                                .toggle-tabs
                                    .toggle-tabs__item
                                        .toggle-tabs__item__title Срок разработки — от 5 дней
                                        .toggle-tabs__item__content С момента подписания договора до сдачи готового проекта проходит от 5 до 20 дней в зависимости от выбранного вами сайта.
                                    .toggle-tabs__item
                                        .toggle-tabs__item__title Конверсия сайта от 15%
                                        .toggle-tabs__item__content Мы используем комплексный подход, поэтому минимальная конверсия сделанных нами сайтов составляет 15%
                                    .toggle-tabs__item
                                        .toggle-tabs__item__title Юридические гарантии
                                        .toggle-tabs__item__content Весь объем выполняемых работ и сроки зафиксированы в договоре
                                a.btn.btn_primary.btn_border(data-fancybox="" data-animation-duration="500" data-src="#callModal" href="javascript:;") Обсудим проект?                                
                section.content.content_color
                    .container.p-relative
                        .row.margin-bottom.margin-bottom-sm
                            .col-xl-10.col-lg-10
                                .heading.heading_medium Как мы разрабатываем сайты под ключ
                                p.offer.last Это произойдет, после того, как вы оставите заявку на сайте:
                        .row
                            .col-xl-3.col-lg-4.col-sm-8
                                .item.item_with-icon
                                    svg.item__icon(viewBox="10 10 535.5 535.5" preserveAspectRatio="xMidYMin meet")
                                        g
                                            path.active-path(d="M471.75,255H433.5V153c0-28.05-22.95-51-51-51h-102V63.75C280.5,28.05,252.45,0,216.75,0S153,28.05,153,63.75V102H51c-28.05,0-51,22.95-51,51v96.9h38.25c38.25,0,68.85,30.6,68.85,68.85S76.5,387.6,38.25,387.6H0v96.9c0,28.05,22.95,51,51,51h96.9v-38.25c0-38.25,30.6-68.85,68.85-68.85s68.85,30.6,68.85,68.85v38.25h96.9c28.05,0,51-22.95,51-51v-102h38.25c35.7,0,63.75-28.05,63.75-63.75S507.45,255,471.75,255z")
                                    .item__title Техзадание и&nbsp;договор 
                                    .item__offer.small Вы заполняете техническое задание, где описываете все требования 
                                        | и&nbsp;пожелания к&nbsp;сайту. При необходимости мы помогает составить ТЗ и&nbsp;определиться с&nbsp;нужным 
                                        | функционалом. После чего мы заключаем договор и&nbsp;приступаем к&nbsp;работе.
                            .col-xl-3.col-lg-4.col-sm-8
                                .item.item_with-icon
                                    svg.item__icon(viewBox="10 10 535.5 535.5" preserveAspectRatio="xMidYMin meet")
                                        g
                                            path.active-path(d="M471.75,255H433.5V153c0-28.05-22.95-51-51-51h-102V63.75C280.5,28.05,252.45,0,216.75,0S153,28.05,153,63.75V102H51c-28.05,0-51,22.95-51,51v96.9h38.25c38.25,0,68.85,30.6,68.85,68.85S76.5,387.6,38.25,387.6H0v96.9c0,28.05,22.95,51,51,51h96.9v-38.25c0-38.25,30.6-68.85,68.85-68.85s68.85,30.6,68.85,68.85v38.25h96.9c28.05,0,51-22.95,51-51v-102h38.25c35.7,0,63.75-28.05,63.75-63.75S507.45,255,471.75,255z")
                                    .item__title Концепция страницы 
                                    .item__offer.small Разрабатываем структуру страниц на основе пользовательского опыта 
                                        | таким образом, чтобы клиент интуитивно проходил все этапы воронки продаж, 
                                        | последовательно получал ответ на все вопросы и&nbsp;в&nbsp;итоге – совершал покупку.
                            .col-xl-3.col-lg-4.col-sm-8
                                .item.item_with-icon
                                    svg.item__icon(viewBox="10 10 535.5 535.5" preserveAspectRatio="xMidYMin meet")
                                        g
                                            path.active-path(d="M471.75,255H433.5V153c0-28.05-22.95-51-51-51h-102V63.75C280.5,28.05,252.45,0,216.75,0S153,28.05,153,63.75V102H51c-28.05,0-51,22.95-51,51v96.9h38.25c38.25,0,68.85,30.6,68.85,68.85S76.5,387.6,38.25,387.6H0v96.9c0,28.05,22.95,51,51,51h96.9v-38.25c0-38.25,30.6-68.85,68.85-68.85s68.85,30.6,68.85,68.85v38.25h96.9c28.05,0,51-22.95,51-51v-102h38.25c35.7,0,63.75-28.05,63.75-63.75S507.45,255,471.75,255z")
                                    .item__title Верстка и&nbsp;настройка CMS 
                                    .item__offer.small Шаблоны будут адаптивными и&nbsp;кроссбраузерными, в&nbsp;проектах используется 
                                        | методология БЭМ и&nbsp;семантические теги HTML5. Настроеная CMS содержит все необходимые функции 
                                        | для продвижения и&nbsp;редактирования сайта.
                            .col-xl-3.col-lg-4.col-sm-8
                                .item.item_with-icon
                                    svg.item__icon(viewBox="10 10 535.5 535.5" preserveAspectRatio="xMidYMin meet")
                                        g
                                            path.active-path(d="M471.75,255H433.5V153c0-28.05-22.95-51-51-51h-102V63.75C280.5,28.05,252.45,0,216.75,0S153,28.05,153,63.75V102H51c-28.05,0-51,22.95-51,51v96.9h38.25c38.25,0,68.85,30.6,68.85,68.85S76.5,387.6,38.25,387.6H0v96.9c0,28.05,22.95,51,51,51h96.9v-38.25c0-38.25,30.6-68.85,68.85-68.85s68.85,30.6,68.85,68.85v38.25h96.9c28.05,0,51-22.95,51-51v-102h38.25c35.7,0,63.75-28.05,63.75-63.75S507.45,255,471.75,255z")
                                    .item__title Погружение в&nbsp;проект 
                                    .item__offer.small Проводим глубокий анализ рынка и&nbsp;конкурентов, после чего создаем портрет 
                                        | типичного клиента. Прорабатываем преимущества и&nbsp;подготавливаем тексты, которые будут 
                                        | решать проблемы именно Ваших посетителей и&nbsp;помогать принять решение о&nbsp;покупке.
                            .col-xl-3.col-lg-4.col-sm-8
                                .item.item_with-icon
                                    svg.item__icon(viewBox="10 10 535.5 535.5" preserveAspectRatio="xMidYMin meet")
                                        g
                                            path.active-path(d="M471.75,255H433.5V153c0-28.05-22.95-51-51-51h-102V63.75C280.5,28.05,252.45,0,216.75,0S153,28.05,153,63.75V102H51c-28.05,0-51,22.95-51,51v96.9h38.25c38.25,0,68.85,30.6,68.85,68.85S76.5,387.6,38.25,387.6H0v96.9c0,28.05,22.95,51,51,51h96.9v-38.25c0-38.25,30.6-68.85,68.85-68.85s68.85,30.6,68.85,68.85v38.25h96.9c28.05,0,51-22.95,51-51v-102h38.25c35.7,0,63.75-28.05,63.75-63.75S507.45,255,471.75,255z")
                                    .item__title Дизайн-макет
                                    .item__offer.small В зависимости от&nbsp;необходимых ассоциаций и&nbsp;эффекта, который 
                                        | нужно произвести, подбираем цветовую гамму и&nbsp;дизайн меню, иконок, кнопок, форм 
                                        | заявок, таблиц – всех точек взаимодействия пользователя с&nbsp;сайтом. Для четкой 
                                        | и&nbsp;сепарации от&nbsp;конкурентов используем вашу корпоративную айдентику. 
                            .col-xl-3.col-lg-4.col-sm-8
                                .item.item_with-icon
                                    svg.item__icon(viewBox="10 10 535.5 535.5" preserveAspectRatio="xMidYMin meet")
                                        g
                                            path.active-path(d="M471.75,255H433.5V153c0-28.05-22.95-51-51-51h-102V63.75C280.5,28.05,252.45,0,216.75,0S153,28.05,153,63.75V102H51c-28.05,0-51,22.95-51,51v96.9h38.25c38.25,0,68.85,30.6,68.85,68.85S76.5,387.6,38.25,387.6H0v96.9c0,28.05,22.95,51,51,51h96.9v-38.25c0-38.25,30.6-68.85,68.85-68.85s68.85,30.6,68.85,68.85v38.25h96.9c28.05,0,51-22.95,51-51v-102h38.25c35.7,0,63.75-28.05,63.75-63.75S507.45,255,471.75,255z")
                                    .item__title Завершение проекта 
                                    .item__offer.small Сверяем результат с&nbsp;ТЗ, подписываем акт выполненных работ и&nbsp;передаем все 
                                        | доступы к сайту. Составляем письменную инструкцию и&nbsp;обучаем вашего сотрудника пользованию 
                                        | системой управления сайтом, чтобы вы самостоятельно могли менять текстовый контент без 
                                        | привлечения программистов.
                section.content.project.bg-grey
                    .container
                        .row
                            .col-xl-10
                                h4.heading.heading_medium Недавно реализованный сайт под ключ
                                .offer — посмотреть на все
                                    a(href="#") реализованные проекты SOHO
                            .col-xl-5
                                .project__task
                                    .project__task__item Тематика
                                    .project__task__content Изготовление наружной рекламы в Москве и области
                                .project__task
                                    .project__task__item Задача
                                    .project__task__content 
                                        p.offer Создать многостраничный сайт с&nbsp;описанием всех предоставляемых услуг и&nbsp;возможностью добавлять портфолио. 
                                        p.offer Написать и&nbsp;разместить актуальную информацию об услугах компания, сроках и&nbsp;стоимость различной продукции. 
                                        p.offer.last Сделать акцент на&nbsp;быстроте реализации проектов и&nbsp;выгодах от сотрудничествах. Подготовить сайт к&nbsp;будущему продвижению и&nbsp;рекламной кампании.
                            .col-xl-5
                                .project__task
                                    .project__task__item Решение
                                    .project__task__content
                                        p.offer Для начала было собрано 
                                            strong семантическое ядро 
                                            | – список ключевых слов на каждую 
                                            | страницу сайта. Проработаны 
                                            strong прототипы для фасадных и интерьерных решений, 
                                            | а&nbsp;также для главной страницы сайта. 
                                        p.offer На основе прототипов и&nbsp;анализа целевой аудитори 
                                            strong созданы дизайн-макеты 
                                            | страниц, подобрана цветовая гамма и&nbsp;разработаны CTA-элементы. 
                                            | Параллельно с&nbsp;разработкой дизайна писались 
                                            strong тексты с&nbsp;уникальными преимуществами, 
                                            | описанием для каждого вида работ и&nbsp;уникальными торговыми 
                                            | предложениями. 
                                        p.offer.last Далее последовали технические работы: верстка, настройка системы управления, 
                                            | оптимизация файлов.
                        .row.margin-bottom
                            .col-xl-10
                                p.heading.heading_small Результат
                            .col-xl-6
                                p.offer.last Готовый многостраничный сайт-визитка, где представлена вся информация 
                                    | об услугах, которые оказывает компания. Страницы отличаются интуитивно понятной 
                                    | структурой, а дизайн согласуется с видом деятельности фирмы. 
                                    | Подробнее о проделанной работе 
                                    a(href="#") в порфтолио 
                                    |  или можете посмотреть финальный результа 
                                    a(href="#") на сайте.
                        .row
                            .col-lg-3.margin-bottom.margin-bottom-sm
                                img.img-fluid(src="../images/frontbox-test-01.jpg")
                            .col-lg-3.margin-bottom.margin-bottom-sm
                                img.img-fluid(src="../images/frontbox-test-02.jpg")
                            .col-xl-10
                                a.btn.btn_primary(data-fancybox="" data-animation-duration="500" data-src="#callModal" href="javascript:;") Заказать сайт под ключ
                .content.content_price
                    .container.content_price__container
                        .row
                            .col-xl-6.offset-xl-2.text-center.margin-bottom
                                .heading.heading_small Комплексная разработка сайта
                                .offer Мы пропагандируем индивидуальный расчет стоимости каждого проекта, но знаем вы хотите видеть хотя бы примерные цены поэтому немного цифр
                        .row.margin-bottom.margin-bottom-lg-none.align-items-center.justify-content-center
                            .col-xl-3.col-lg-3.p-relative
                                img.element.element_1(src="../images/comment/dev_comment_0.png")
                                .price
                                    .price__header Лендинг
                                    .price__content
                                        p.text-uppercase.text-bold В разработку входит
                                        p прототипирование страницы, индивидуальный дизайн, разработка УТП, 
                                            | анализ конкурентов, продающие тексты и&nbsp;верстка страницы
                                        p Что-то еще тут написать для баланса
                                    .price__time от 7 дней
                                    .price__footer стоимость 13к+(за 3-4 экрана)
                            .col-xl-3.col-lg-4.p-relative
                                img.element.element_2(src="../images/comment/dev_comment_2.png")
                                .price.price_large
                                    .price__header Сайт-визитка
                                    .price__content
                                        p.text-uppercase.text-bold В разработку входит
                                        p прототипирование страницы, индивидуальный дизайн, разработка УТП, 
                                            | анализ конкурентов, продающие тексты и&nbsp;верстка страницы
                                        p Что-то еще тут написать для баланса
                                    .price__time от 10 дней
                                    .price__info контент предоставляется заказчиком
                                    .price__footer стоимость 45к+
                            .col-xl-3.col-lg-3.p-relative
                                img.element.element_3(src="../images/comment/dev_comment_1.png")
                                .price
                                    .price__header Магазин
                                    .price__content
                                        p.text-uppercase.text-bold В разработку входит
                                        p прототипирование страницы, индивидуальный дизайн, разработка УТП, 
                                            | анализ конкурентов, продающие тексты и&nbsp;верстка страницы
                                        p Что-то еще тут написать для баланса
                                    .price__time от 20 дней
                                    .price__footer стоимость 66к+
                .content.content_contact
                    .container
                        .row.align-items-end
                            .col-xl-6
                                h4.heading.heading_medium Нужны клиенты? <br/> Мы знаем как их получить
                                form.form.form_inline(action="")
                                    input.in-phone.input-text(type="tel" placeholder="Ваш контактный телефон" value="")
                                    button.btn.btn_primary(type="submit") Обсудим проект
                            .col-xl-3
                                .offer.last Многие компании, предлагая свои услуги, говорят о том, какие они классные. Мы в первую очередь думаем о вас и вашем комфорте от сотрудничества с SOHO. Поэтому мы расскажем о том, что вы получите, обратившись к нам.
        include chunks/footer.pug