html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Index Page

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/index.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/mixin.pug
        include component/header/header.pug
        .container
            section.container__inner.mb-5
                //- Main Screen
                .content-main
                    h1.content-main__title Маркетинговое агентство полного цикла
                    span.content-main__subtitle для малого бизнеса
                    .row.justify-content-end.mt-3.mt-sm-2
                        .col-5.col-lg-7.col-md-9.col-sm-12
                            p.content-main__intro Разрабатываем лендинги и&nbsp;сайты. Создаём логотипы и&nbsp;фирменные стили.
                                |  SEO-продвижение и&nbsp;настройка рекламы ведутся на&nbsp;основе тщательного анализа 
                                |  ниши и&nbsp;конкурентов.
                            +btnIconModal('Обсудить проект')
                //- Services
                .row.mt-1
                    +service("Сайт под ключ", "Срок: от 35 дней","../icon/suspicious.svg")
                    +service("Сайт на Tilda", "Срок: от 4 дней","../icon/suspicious.svg")
                    +service("Разработка лого", "Срок: от 8 дней","")
                    +service("Фирменный стиль","Срок: от 16 дней","../icon/suspicious.svg")
                    +service("Презентации","Срок: от 5 дней","../icon/suspicious.svg")
                    +service("E-mail рассылки","Срок: от 2 дней","../icon/suspicious.svg")
                    +service("Полиграфия","Срок: от 1 дня","../icon/suspicious.svg")
                    +service("Контекстная реклама","Срок: от 6 дней","../icon/suspicious.svg")
                    +service("Таргет","Срок: от 6 дней","../icon/suspicious.svg")
                    +service("Упаковка продукта","Срок: от 24 дней","../icon/suspicious.svg")
                    +service("Контент","Срок: от 3 дней","../icon/suspicious.svg")
                    +service("SEO","Срок: от 14 дней","../icon/suspicious.svg")
                    +service("Тех.поддержка сайта","С понедельника по пятницу","../icon/suspicious.svg")
                    +service("Анализ сайта","Срок: от 2 дней","../icon/suspicious.svg")
                    +service("Управление репутацией","Срок: от 15 дней","../icon/suspicious.svg")
                //- Portfolio Link
                .row.align-items-end.mt-5.mt-sm-3
                    .col-6.col-xs-12.text-xs-center
                        h4.text-uppercase Новое в&nbsp;нашем портфолио
                    .col-6.col-xs-12.text-right.text-xs-left.mt-xs-2
                        +btnAction('Все проекты', 'portfolio.html')
                .portfolio.portfolio_large.mt-3.mt-xs-1
                    +portfolio-link("text.html", "", "/demo/corp-page.jpg", "EuroComm", "Сайт-визитка на MODx Revo")
                    +portfolio-link("text.html", "", "/demo/promo-page.jpg", "KAM fish", "Логотип и иконки для хайлайтс")
                    +portfolio-link("text.html", "", "/demo/store-page.jpg", "Pelibox", "Открытки для доставки еды")
                    +portfolio-link("text.html", "", "/demo/corp-page.jpg", "Pelibox", "Открытки для доставки еды")
                    +portfolio-link("text.html", "", "/demo/promo-page.jpg", "KAM fish", "Логотип и иконки для хайлайтс")
                    +portfolio-link("text.html", "", "/demo/corp-page.jpg", "EuroComm", "Сайт-визитка на MODx Revo")
                //- Promo Page
                .row.mt-5.mt-sm-3
                    .col-5.col-lg-10.col-sm-12
                        h2.mb-0 Мы знаем, как&nbsp;это 
                            span.text-green работает
                .row.mt-2.align-items-end
                    .col-8.col-lg-10.col-sm-12
                        p Все рецепты SEO-бабушек и&nbsp;Digital-дедушек остались в&nbsp;прошлом. 
                            | Мы не боимся брать ответственность за&nbsp;решения: нам доверились 100+ компаний 
                            | и&nbsp;уже получили крутые результаты. Никаких штампов. Не&nbsp;пишем «сочные» тексты 
                            | и&nbsp;не&nbsp;делаем «вкусные картинки», 
                            | а&nbsp;помогаем привлечь клиентов на&nbsp;сайт.
                    .col-4.col-lg-10.col-sm-12.text-right.text-lg-left.mt-lg-2
                        +btnAction('Наши услуги', 'service.html')
                .service.mt-3
                    .item.item_service.service__col.service__col--first
                        .item__title fullstack development
                        .item_service__image.item_service__image--first(style="background-image:url('/demo/fullstack.png')")
                    .item.item_service.service__col.mt-xs-1
                        .item__title google ads & yandex direct
                        .item_service__image(style="background-image:url('/demo/small.png')")
                    .item.item_service.service__col.mt-xs-1
                        .item__title create content
                        .item_service__image(style="background-image:url('/demo/small.png')")
                    .item.item_service.service__col.mt-xs-1
                        .item__title graphic design
                        .item_service__image(style="background-image:url('/demo/small.png')")
                    .item.item_service.service__col.mt-xs-1
                        .item__title support
                        .item_service__image(style="background-image:url('/demo/small.png')")
                //- Motivation
                .content-main.mt-5.mt-sm-3
                    h4.content-main__title.content-main__title_secondary Акулы пера? Тигры веб-дизайна? 
                        | Алигаторы маркетинга? У нас 
                        span.text-green не зоопарк
                        | , а сильная команда.
                    span.content-main__subtitle dream team
                    .row.justify-content-end.mt-3
                        .col-4.col-lg-6.col-sm-12
                            p.lead.text-bolder При работе над проектами:
                            p.content-main__list заключаем договор
                            p.content-main__list погружаемся в тему
                            p.content-main__list избегаем клише
                            p.content-main__list ориентируемся на результат
                            p.content-main__list постоянно взаимодействуем с клиентом
                        .col-4.col-lg-6.col-sm-12.mt-sm-2
                            p.lead.text-bolder Что мы умеем простыми словами:
                            p.content-main__list писать интересные тексты
                            p.content-main__list рисовать стильные сайты
                            p.content-main__list делать рекламу и она работает
                            p.content-main__list настраивать удобную админку
                            p.content-main__list создавать лого, которые нравятся
            //- Contact Form
            aside.container__inner.content-form
                .row
                    .col-8.col-md-12
                        h4.h3
                            span.text-green Pro
                            | консультируем бесплатно. 
                            span.d-block И честно
                                span.text-green .
                        p.content-form__intro Многие компании, предлагая свои услуги, говорят о том, какие они классные. Мы в первую очередь думаем о вас и вашем комфорте от сотрудничества с SOHO. Поэтому мы расскажем о том, что вы получите, обратившись к нам.
                        form.form.content-form__form
                            .form__group.row
                                .col-6.col-xs-12
                                    input.input.input--full(type="Email" placeholder="E-mail")
                                .col-6.col-xs-12
                                    input.input.input--has-validation.input--full.phone(type="tel" placeholder="Телефон *")
                                    .form__validation.error_phone.error Укажите корректный номер
                            .form__group.row
                                .col-6.col-xs-12
                                    input.input.input--full(type="text" placeholder="Ваш бюджет?")
                                .col-6.col-xs-12
                                    input.input.input--full(type="text" placeholder="Какая услуга интересует?")
                            .form__group
                                .mt-1.mb-3.form__agree.checkbox
                                    input.checkbox__input#agreeInline(type="checkbox" name="agreeInline" checked="checked" required="required")
                                    label.checkbox__label(for="agreeInline") согласен с обработкой 
                                        a.form__link-inverse(href="/policy.pdf" target="_blank") персональных данных
                                button.btn.btn_action(type="submit") Обсудить проект
                    .col-4.d-md-none
                        <svg class="content-form__animation" id="parent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                            <path id="path" fill="none" stroke="#3e3e3e" stroke-width="2" stroke-dasharray="10" d="M 25, 250 a 225,225 0 1,0 450,0 a 225,225 0 1,0 -450,0"/>
                            <circle id="elem" cx="0" cy="0" r="14" fill="#3e3e3e"/>
                            <animateMotion xlink:href="#elem" dur="6s" begin="0s" fill="freeze" restart="whenNotActive" repeatCount="indefinite">
                                <mpath xlink:href="#path" />
                            </animateMotion>
                        </svg>
        include component/footer/footer.pug
        include component/form/formHidden.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")
        
        script(src="./js/app.min.js")