html(lang="ru", dir="ltr")
    include chunks/head.pug
    body
        script(src="./js/jquery.min.js")
        include chunks/header.pug
        .content.content_title
        include chunks/footer.pug