html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Logo Page

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/service.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/mixin.pug
        include component/header/header.pug
        .container
            section.container__inner.mb-5
                //- Main Screen
        include component/footer/footer.pug
        include component/form/formHidden.pug