html(lang="ru", dir="ltr")
    include chunks/head.pug
    body.seo
        script(src="./js/jquery.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")
        include chunks/header.pug
        .content.content_title
            svg.content_title__svg(viewBox="0 0 1920 520" preserveAspectRatio="xMidYMax slice")
                defs
                    filter#shadow_03(filterUnits="objectBoundingBox" height="130%" width="140%" x="-15%" y="-15%")
                        feGaussianBlur(in="SourceAlpha" result="blur" stdDeviation="5")
                        feOffset(dx="2" dy="6" in="blur" result="offsetBlurredAlpha")
                        feComponentTransfer
                            feFuncA(type="linear" slope="0.2")
                        feMerge
                            feMergeNode
                            feMergeNode(in="SourceGraphic")
                    linearGradient(id="PSgrad_0" x1="0%" x2="50%" y1="100%" y2="0%")
                        stop(offset="0%" stop-color="#809b0c" stop-opacity="1")
                        stop(offset="100%" stop-color="#7f9a0d" stop-opacity="1")
                path(fill="url(#PSgrad_0)" filter="url(#shadow_03)" d="M1952.000,0.000 L0.000,0.000 C0.000,0.000 0.000,0.000 0.000,62.261 C48.455,87.927 227.239,217.781 370.380,209.418 C543.886,199.297 539.967,119.636 732.975,108.649 C895.861,99.358 895.062,345.632 945.000,414.000 C1039.188,542.961 1243.446,475.024 1406.000,401.000 C1458.954,376.881 1673.736,238.965 1716.000,215.000 C1805.329,164.347 1952.000,205.000 1952.000,205.000 L1952.000,0.000 Z")
            .content_title__elements
                svg.elements(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                    defs
                        filter#shadow(filterUnits="objectBoundingBox" height="130%" width="140%" x="-15%" y="-15%")
                            feGaussianBlur(in="SourceAlpha" result="blur" stdDeviation="3")
                            feOffset(dx="5" dy="5" in="blur" result="offsetBlurredAlpha")
                            feComponentTransfer
                                feFuncA(type="linear" slope="0.2")
                            feMerge
                                feMergeNode
                                feMergeNode(in="SourceGraphic")
                        linearGradient#gradient(data-name="gradient" x1="0%" y1="0%" x2="100%" y2="100%" gradientUnits="userSpaceOnUse")
                            stop(offset="0" stop-color="#a1be00")
                            stop(offset="1" stop-color="#809b0c")
                    g(fill-rule="nonzero")
                        path(style="fill: url(#gradient); filter: url(#shadow);" d="M10,90c0-44.2,35.8-80,80-80s80,35.8,80,80 M10,90c0,44.2,35.8,80,80,80s80-35.8,80-80 M111.3,90c0,11.7-9.5,21.3-21.3,21.3S68.7,101.7,68.7,90 M111.3,90c0-11.7-9.5-21.3-21.3-21.3S68.7,78.3,68.7,90")
            .container
                .row
                    .col-xl-5.offset-xl-1.align-items-center
                        h1.heading SEO-продвижение для&nbsp;бесплатного&nbsp;трафика
                        .offer.last Обеспечим поток посетителей на ваш сайт из Яндекс и Google
        .content.p-relative
            svg.element.element_04(viewBox="0 0 800 330" preserveAspectRatio="xMinYMin meet")
                path(fill-rule="evenodd" fill="rgb(240, 245, 208)" d="M767.980,286.272 C741.775,314.661 704.215,328.856 655.299,328.856 C606.383,328.856 568.822,314.661 542.617,286.272 C516.412,257.884 503.310,217.122 503.310,163.982 C503.310,110.845 516.446,70.265 542.726,42.238 C569.003,14.214 606.673,0.201 655.736,0.201 C704.795,0.201 742.321,14.323 768.308,42.565 C794.295,70.811 807.288,111.429 807.288,164.419 C807.288,217.266 794.186,257.884 767.980,286.272 ZM655.736,56.541 C628.800,56.541 608.491,65.604 594.809,83.729 C581.123,101.854 574.282,128.752 574.282,164.419 C574.282,200.089 581.051,226.949 594.590,244.999 C608.130,263.053 628.364,272.078 655.299,272.078 C709.309,272.078 736.316,236.193 736.316,164.419 C736.316,92.502 709.456,56.541 655.736,56.541 ZM267.054,5.223 L450.926,5.223 L450.926,60.691 L334.750,60.691 L334.750,130.789 L442.846,130.789 L442.846,186.256 L334.750,186.256 L334.750,268.584 L450.926,268.584 L450.926,324.488 L267.054,324.488 L267.054,5.223 ZM87.768,117.796 C93.808,121.945 108.111,129.407 130.679,140.179 C160.521,154.449 180.977,168.752 192.042,183.090 C203.105,197.431 208.639,215.010 208.639,235.828 C208.639,264.653 198.266,287.364 177.521,303.961 C156.775,320.557 127.912,328.856 90.935,328.856 C56.868,328.856 26.732,322.451 0.527,309.639 L0.527,246.746 C22.071,256.355 40.306,263.125 55.230,267.055 C70.151,270.986 83.800,272.951 96.176,272.951 C111.025,272.951 122.415,270.113 130.351,264.435 C138.285,258.757 142.253,250.315 142.253,239.103 C142.253,232.845 140.506,227.277 137.012,222.398 C133.518,217.522 128.386,212.827 121.616,208.312 C114.847,203.802 101.052,196.595 80.234,186.693 C60.724,177.521 46.093,168.715 36.341,160.270 C26.586,151.828 18.796,142.001 12.975,130.789 C7.150,119.580 4.240,106.478 4.240,91.482 C4.240,63.239 13.811,41.037 32.956,24.877 C52.098,8.717 78.559,0.637 112.335,0.637 C128.932,0.637 144.764,2.603 159.832,6.533 C174.900,10.464 190.657,15.999 207.110,23.130 L185.273,75.758 C168.240,68.770 154.154,63.895 143.017,61.127 C131.880,58.364 120.924,56.978 110.152,56.978 C97.339,56.978 87.512,59.964 80.671,65.932 C73.826,71.903 70.407,79.689 70.407,89.298 C70.407,95.269 71.789,100.472 74.557,104.912 C77.320,109.354 81.725,113.647 87.768,117.796 Z")            .container
            .container
                .row
                    .col-xl-5.col-lg-5.col-comment.p-relative
                        h2.heading.heading_small Что такое SEO?
                        p.offer Если простым языком, SEO – это один из самых популярных способов рассказать поисковым системам (Яндекс и Google) о том, что вы существуете, чем вы занимаетесь и что вы – надежная компания, которую любят пользователи интернета.
                        img.element.element_comment(src="./images/comment/seo_comment_1.png")                   
                    .col-xl-5.col-lg-5
                        h3.heading.heading_small Зачем нужно SEO?
                        p.offer Более 10 миллиардов запросов каждодневно вводится в поисковые системы для получения информации, услуг или покупки товаров. Более 2 триллионов сайтов в интернете. Использование поисковой оптимизации выведет ваш сайт на первые страницы Яндекса и Google по нужным ключевым словам (это те же запросы, которые вводят люди в поисковую строчку, например «купить диван спб»).
                        p.offer Почему нужно быть на первых страницах выдачи? Вспомните, как часто вы заходите дальше 2 или 3 страницы в поиске? Рискнем предположить – крайне редко!
                   
                    .col-xl-10.margin-top
                        h3.heading Есть сайт, но он не приносит прибыль?
                    .col-xl-4.offset-xl-1.margin-top
                        p.offer Вам необходимо провести комплексный аудит сайта, который покажет слабые стороны и недоработки, нуждающиеся в исправлении. Это позволит разработать рекомендации по оптимизации и улучшению, направленные на увеличение количества заявок и видимости в поисковых системах.
                        a.btn.btn_primary(href="#") Нужен аудит
        .content.content_color
            svg.element.element_03(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                g(style="fill: url(#gradient); filter: url(#shadow);" fill-rule="nonzero")
                    rect(x="12" y="9.5" width="71" height="160")
                    rect(x="97" y="9.5" width="71" height="160") 
            .container.p-relative
                .row
                    .col-xl-10
                        .heading.heading_medium.first Каких целей достигают с помощью SEO?
                .row.margin-bottom
                    .col-xl-3.offset-xl-3
                        .item.item_with-icon
                            svg.item__icon(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                                g
                                    path.active-path(d="M150.383,18.301c-7.13-3.928-15.308-6.187-24.033-6.187c-15.394,0-29.18,7.015-38.283,18.015    c-9.146-11-22.919-18.015-38.334-18.015c-8.704,0-16.867,2.259-24.013,6.187C10.388,26.792,0,43.117,0,61.878    C0,67.249,0.874,72.4,2.457,77.219c8.537,38.374,85.61,86.771,85.61,86.771s77.022-48.396,85.571-86.771    c1.583-4.819,2.466-9.977,2.466-15.341C176.104,43.124,165.716,26.804,150.383,18.301z" data-original="#000000" data-old_color="#FCFAFA" fill="#FCFBFB")
                            .item__title Рост заявок 
                            .item__offer и продаж с сайта
                    .col-xl-3
                        .item.item_with-icon
                            svg.item__icon(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                                g
                                    path.active-path(d="M150.383,18.301c-7.13-3.928-15.308-6.187-24.033-6.187c-15.394,0-29.18,7.015-38.283,18.015    c-9.146-11-22.919-18.015-38.334-18.015c-8.704,0-16.867,2.259-24.013,6.187C10.388,26.792,0,43.117,0,61.878    C0,67.249,0.874,72.4,2.457,77.219c8.537,38.374,85.61,86.771,85.61,86.771s77.022-48.396,85.571-86.771    c1.583-4.819,2.466-9.977,2.466-15.341C176.104,43.124,165.716,26.804,150.383,18.301z" data-original="#000000" data-old_color="#FCFAFA" fill="#FCFBFB")
                            .item__title Повышение узнаваемости 
                            .item__offer вашей компании
                    .col-xl-3.offset-xl-3
                        .item.item_with-icon
                            svg.item__icon(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                                g
                                    path.active-path(d="M150.383,18.301c-7.13-3.928-15.308-6.187-24.033-6.187c-15.394,0-29.18,7.015-38.283,18.015    c-9.146-11-22.919-18.015-38.334-18.015c-8.704,0-16.867,2.259-24.013,6.187C10.388,26.792,0,43.117,0,61.878    C0,67.249,0.874,72.4,2.457,77.219c8.537,38.374,85.61,86.771,85.61,86.771s77.022-48.396,85.571-86.771    c1.583-4.819,2.466-9.977,2.466-15.341C176.104,43.124,165.716,26.804,150.383,18.301z" data-original="#000000" data-old_color="#FCFAFA" fill="#FCFBFB")
                            .item__title Увеличение 
                            .item__offer посещаемости сайта
                    .col-xl-3
                        .item.item_with-icon
                            svg.item__icon(viewBox="0 0 180 180" preserveAspectRatio="xMidYMin meet")
                                g
                                    path.active-path(d="M150.383,18.301c-7.13-3.928-15.308-6.187-24.033-6.187c-15.394,0-29.18,7.015-38.283,18.015    c-9.146-11-22.919-18.015-38.334-18.015c-8.704,0-16.867,2.259-24.013,6.187C10.388,26.792,0,43.117,0,61.878    C0,67.249,0.874,72.4,2.457,77.219c8.537,38.374,85.61,86.771,85.61,86.771s77.022-48.396,85.571-86.771    c1.583-4.819,2.466-9.977,2.466-15.341C176.104,43.124,165.716,26.804,150.383,18.301z" data-original="#000000" data-old_color="#FCFAFA" fill="#FCFBFB")
                            .item__title Повышение доверия 
                            .item__offer к компании
                .row
                    .col-xl-6.offset-xl-3
                        .heading.heading_medium Когда ждать результат?
                        .subheading Системы управления сайтом (MODX, Wordpress и т.д.)
                        p.offer Результат верстки — это статичные web-страницы, чтобы редактировать их самостоятельно нужно 
                            | иметь&nbsp;базовые знания в&nbsp;HTML-разметке. А CMS обеспечивают удобный пользовательский интерфейс и&nbsp;возможность 
                            | менять тексты, добавлять новые страницы по готовым шаблонам и многое другое без&nbsp;страха что-то сломать.
                        p.offer.last Мы поможем выбрать подходящую вашему проекту систему, расскажем про плюсы и минусы каждого варианта и не станем задавать непонятных вопросов, а только отвечать на них.
                .row.align-items-center.margin-top.margin-bottom
                    .col-xl-3.offset-xl-3      
                        .item.item_info.text-center
                            .item__title сайту 1-3 месяца
                            .item__offer.margin-auto первые заявки уже через 1-3 месяца стабильный результат через 3-6 месяцев               
                    .col-xl-1
                        svg.elements(viewBox="0 0 125 80" preserveAspectRatio="xMidYMin meet")
                            g(style="fill: url(#gradient); filter: url(#shadow);")
                                path(d="M101.950,14.113 C99.460,13.495 97.010,13.186 94.602,13.186 C91.737,13.186 89.539,13.853 88.010,15.187 C86.479,16.523 85.715,18.264 85.715,20.412 C85.715,21.747 86.024,22.911 86.643,23.903 C87.261,24.897 88.246,25.856 89.597,26.784 C90.947,27.712 94.145,29.380 99.191,31.789 C105.864,34.980 110.438,38.178 112.912,41.384 C115.386,44.590 116.623,48.521 116.623,53.176 C116.623,59.621 114.304,64.699 109.665,68.410 C105.026,72.121 98.573,73.977 90.305,73.977 C82.688,73.977 75.949,72.545 70.090,69.680 L70.090,55.617 C74.907,57.766 78.984,59.279 82.321,60.158 C85.658,61.037 88.709,61.477 91.477,61.477 C94.797,61.477 97.344,60.842 99.118,59.572 C100.892,58.303 101.779,56.415 101.779,53.908 C101.779,52.509 101.389,51.264 100.607,50.173 C99.826,49.083 98.679,48.033 97.165,47.023 C95.651,46.015 92.567,44.404 87.912,42.189 C83.550,40.139 80.278,38.170 78.098,36.281 C75.916,34.394 74.175,32.196 72.873,29.689 C71.571,27.183 70.920,24.254 70.920,20.900 C70.920,14.586 73.060,9.621 77.341,6.008 C81.621,2.395 87.538,0.588 95.090,0.588 C98.801,0.588 102.341,1.027 105.710,1.906 C109.079,2.785 112.602,4.023 116.281,5.617 L111.398,17.385 C107.590,15.822 104.440,14.732 101.950,14.113 ZM24.719,73.000 L0.500,1.613 L15.783,1.613 L29.211,44.094 C29.959,46.601 30.732,49.522 31.530,52.858 C32.328,56.195 32.824,58.515 33.020,59.816 C33.377,56.822 34.598,51.581 36.682,44.094 L50.207,1.613 L65.490,1.613 L41.223,73.000 L24.719,73.000 Z")
                                //- path(d="M142.950,52.113 C140.460,51.495 138.010,51.186 135.602,51.186 C132.737,51.186 130.539,51.853 129.010,53.187 C127.479,54.523 126.715,56.264 126.715,58.412 C126.715,59.747 127.024,60.911 127.643,61.903 C128.261,62.897 129.246,63.856 130.597,64.784 C131.947,65.712 135.145,67.380 140.191,69.789 C146.864,72.980 151.438,76.178 153.912,79.384 C156.386,82.590 157.623,86.521 157.623,91.176 C157.623,97.621 155.304,102.699 150.665,106.410 C146.026,110.121 139.573,111.977 131.305,111.977 C123.688,111.977 116.949,110.545 111.090,107.680 L111.090,93.617 C115.907,95.766 119.984,97.279 123.321,98.158 C126.658,99.037 129.709,99.477 132.477,99.477 C135.797,99.477 138.344,98.842 140.118,97.572 C141.892,96.303 142.779,94.415 142.779,91.908 C142.779,90.509 142.389,89.264 141.607,88.173 C140.826,87.083 139.679,86.033 138.165,85.023 C136.651,84.015 133.567,82.404 128.912,80.189 C124.550,78.139 121.278,76.170 119.098,74.281 C116.916,72.394 115.175,70.196 113.873,67.689 C112.571,65.183 111.920,62.254 111.920,58.900 C111.920,52.586 114.060,47.621 118.341,44.008 C122.621,40.395 128.538,38.588 136.090,38.588 C139.801,38.588 143.341,39.027 146.710,39.906 C150.079,40.785 153.602,42.023 157.281,43.617 L152.398,55.385 C148.590,53.822 145.440,52.732 142.950,52.113 ZM65.719,111.000 L41.500,39.613 L56.783,39.613 L70.211,82.094 C70.959,84.601 71.732,87.522 72.530,90.858 C73.328,94.195 73.824,96.515 74.020,97.816 C74.377,94.822 75.598,89.581 77.682,82.094 L91.207,39.613 L106.490,39.613 L82.223,111.000 L65.719,111.000 Z")
                    .col-xl-3
                        .item.item_info.text-center
                            .item__title сайту более 2 лет
                            .item__offer.margin-auto первые заявки уже через 1-3 месяца стабильный результат через 3-6 месяцев
                .row
                    .col-xl-6.offset-xl-3
                        a.btn.btn_primary(href="#") хочу seo-продвижение
        .content.content_project.project
            .container
                .row
                    .col-xl-10
                        h4.heading.heading_medium.margin-bottom Проект по SEO-продвижению
                        .offer Один из последних проектов SOHO
                    .col-xl-5
                        .project__task.margin-bottom
                            .project__task__item Задача
                            .project__task__content 
                                p.offer Сайт существовал уже несколько лет, но в поиске его практически не было ни по одному ключевому запросу. Клиентам хотелось увеличить базу клиентов и узнаваемость. По времени было дано 6 месяцев.
                        .project__task.margin-bottom
                            .project__task__item Проблема
                            .project__task__content 
                                p.offer Был проведен комплексный аудит и выявлено, что SEO никогда не проводилось, а 
                                    span.text-bold посетители, которые заходили на сайт в 8 из 10 случаев быстро уходили.
                    .col-xl-5
                        .project__task.margin-bottom
                            .project__task__item Решение
                            .project__task__content
                                p.offer Начали с технической оптимизации сайта, потому что без нее дальнейшие действия не имели смысла. 
                                p.offer Провели маркетинговый анализ на основе которого выявили причину, почему люди уходили ничего не заказав. По согласованию с заказчиком были разработаны новые информационные блоки страницы (это входит в стоимость продвижения). 
                                p.offer Переделали структуру страниц и оформление информации. Доработали форму на странице услуг. Стали регулярно наполнять сайт качественным и интересным контентом.
                .row.margin-bottom.align-items-end
                    .col-xl-10
                        p.heading.heading_small.margin-bottom Достигнутый эффект
                    .col-xl-5 
                        p.offer За первые два месяца сайт выведен в ТОП-10 по всем 20 согласованным ключам в Яндекс (плюс еще около 100 дополнительных). Далее все усилия делались на появлении результатов в Google, а также проработке ключевых запросов, которые дают больше всего заказов. 
                        p.offer.last Через 5 месяцев SOHO выполнила все поставленные задачи и привела на сайт исключительно заинтересованную аудиторию (что сильно отразилось на количестве заявок)
                    .col-xl-4.offset-xl-1
                        .offer.project__stats.text-bold.text-uppercase(style="background-image:url('../images/result_seo.png');") увеличилось количество переходов на сайт
                .row
                    .col-xl-6
                        img.img-fluid(src="../images/default.png")
                    .col-xl-4
                        p.offer.text-bold.text-uppercase Что это значит?
                        p.offer При увеличении посещаемости на 2537%, количество людей, которое уходило сразу, увеличилось на 0,78%. Мы привели на сайт только тех людей, кто интересовался данными услугами. 
        .content.content_price
            .container.content_price__container
                .row
                    .col-xl-6.offset-xl-2.text-center.margin-bottom
                        .heading.heading_small Тарифы на продвижение
                        .offer В зависимости от размера вашего сайта, его состояния и скорости получения необходимого результата, были разработаны 3 основных тарифа
                .row.align-items-center.justify-content-center
                    .col-xl-3.col-lg-5.p-relative
                        img.element.element_1(src="../images/comment/seo_comment_0.png")
                        .price
                            .price__header упрощенный
                            .price__content
                                p.text-uppercase.text-bold средне-конкурентная тематика
                                p вы ставите задачу — мы формируем пакет услуг подходящий под ваши цели. В конце месяца предоставляем отчет о работе и результатах
                            .price__footer стоимость 25к в месяц
                    .col-xl-3.col-lg-5
                        .price.price_large
                            .price__header Стандарт
                            .price__content
                                p.text-uppercase.text-bold конкурентная тематика
                                p займемся технической оптимизацией, улучшением информации на сайте и внешнего вида - предложение сформируем исходя из ваших целей
                            .price__footer стоимость 45к в месяц
                    .col-xl-3.col-lg-5.p-relative
                        img.element.element_3(src="../images/comment/seo_comment_2.png")
                        .price
                            .price__header ускоренный
                            .price__content
                                p.text-uppercase.text-bold высоко-конкурентная тематика
                                p прорвемся через все трудности повышенной конкуренции предложим оптимальный план продвижение сайта: тариф включает все что можно и нельзя
                            .price__footer стоимость 65к в месяц
            .container.content_price__container
                .row
                    .col-xl-6.offset-xl-2.text-center
                        .heading.heading_small Что входит в тариф?
                        .offer Большинство предлагают стандартный набор услуг в зависимости от тарифа - это в корне неверный подход! Как можно предлагать один и тот же набор услуг для абсолютно разных сайтов?
                        .subheading оказываем только те услуги, которые действительно нужны для достижения цели! 
        .content.content_contact
            .container
                .row.align-items-end
                    .col-xl-6
                        h4.heading Хотите, чтобы клиенты находили вас через Яндекс и Google?
                        form.form.form_inline(action="")
                            input.in-phone.input-text(type="tel" placeholder="Ваш контактный телефон" value="")
                            button.btn.btn_primary(type="submit") Конечно хочу
                    .col-xl-3
                        .offer.last Многие компании, предлагая свои услуги, говорят о том, какие они классные. Мы в первую очередь думаем о вас и вашем комфорте от сотрудничества с SOHO. Поэтому мы расскажем о том, что вы получите, обратившись к нам.
        include chunks/footer.pug