html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tilda Promo

        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/service.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/header/header.pug
        main.container
            section.container__inner.content-main
                .row.align-items-center
                    .col-7
                        h1.content-main__title
                            span.text-green Got
                            | овый сайт на 
                            span.text-green Tilda 
                            | за&nbsp;3&nbsp;дня и&nbsp;15к+
                        p.content-main__intro Спроектируем сайт, напишем тексты, разработаем дизайн и запустим проект. От 3 дней и 15 000 рублей. Получите консультацию и расчет стоимости за Ваш сайт.
                        .content-main__action
                            a.btn(data-fancybox data-src="order" href="javascript;") Заполнить бриф
                            svg.content-main__action-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 -31 512 512" width="16px" height="16px")
                                path(fill="#c1ea1d" d="m123.195312 260.738281 63.679688 159.1875 82.902344-82.902343 142.140625 112.976562 100.082031-450-512 213.265625zm242.5-131.628906-156.714843 142.941406-19.519531 73.566407-36.058594-90.164063zm0 0")
                    .col-5
                        .content-main__image
                            img.content-main__prototype(src="../demo/prototype.png" alt="" title="")
                            img.content-main__example(src="../demo/example.png" alt="" title="")

            section
                a.btn.btn_animation(data-fancybox data-src="order" href="javascript;") Заполнить бриф
                    svg.btn__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 -31 512 512" width="16px" height="16px")
                        path(fill="#c1ea1d" d="m123.195312 260.738281 63.679688 159.1875 82.902344-82.902343 142.140625 112.976562 100.082031-450-512 213.265625zm242.5-131.628906-156.714843 142.941406-19.519531 73.566407-36.058594-90.164063zm0 0")
                    
        include component/footer/footer.pug
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")
        
        script(src="./js/app.min.js")