.header{
    &__logo{
        margin-right: $spacer;
        transform: translateY(-5px);
        
        &-svg{
            width: 160px;
        }
        &-path{
            fill: $white;
        }
    }
    &__top{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: $spacer 0;
        font-size: map-get($map: $font-size, $key: xs);
    }

    &__email{
        font-weight: $font-weight-bold;
        color: $white;
        text-transform: uppercase;
        text-decoration: underline;
        margin-right: $spacer;
    }
    &__link{
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $white;
    }
    &__nav{
        position: fixed;
        top: 30px;
        right: 30px;

        height: 50px;
        width: 50px;
        padding: 10px;
        
        // border-radius: 50%;
        background: darken($color: $black, $amount: 4);
        border: 1px solid $green;

        cursor: pointer;
        z-index: 999;

        &-path{
            fill: $green;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        &__nav{
            height: 34px;
            width: 34px;
            padding: 6px;
        }
    }

}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .header{
        &__top{
            padding: $spacer/2 0;
        }
        &__logo{
            margin-right: $spacer/2;
            transform: translateY(-2px);
            &-svg{
                width: 80px;
            }
        }
        &__nav{
            top: 9px;
            right: 12px;
        }
        &__link{
            display: none;
        }
    }
}