.content-form{
    // padding: map-get($map: $spacers, $key: 4) 0;

    &__intro{
        max-width: calc(100% - 40px);
        color: $grey;
    }
    &__form{
        margin-top: $spacer;

        display: grid;
        grid-gap: $spacer/2;
        grid-template-columns: repeat(2, 1fr);
    }
    &__animation{
        max-width: 90%;
        margin: 0 auto;

        #path, #elem{
            transition: .4s;
        }

        &:hover, &:focus{
            #path{
                stroke: $grey;
            }
            #elem{
                fill: $white;
            }
        }
    }

    // Modificatio
    &_callback{
        border: 1px solid $border-color;
        padding: $spacer;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content-form{
        // Modificatio
        &_callback{
            padding: $spacer/2;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content-form{
        padding-top: map-get($map: $spacers, $key: 3);
    }
}