.content-main{
    position: relative;
    padding: map-get($map: $spacers, $key: 3);

    border: 4px solid $white;

    &__title{
        font-size: 80px;
        text-indent: 180px;
        max-width: 100%;

        &_secondary{
            font-size: map-get($map: $heading, $key: h2);
        }
    }
    &__subtitle{
        position: absolute;
        top: map-get($map: $spacers, $key: 3);
        left: map-get($map: $spacers, $key: 3);

        // font-family: $font-family-heading;
        font-size: map-get($map: $font-size, $key: 'xs');
        text-align: right;
        padding: 4px 12px;
        border: 4px solid $green;
        color: $green;
        // transform: translateY(12px);

        &:after{
            border: 10px solid transparent;
            border-top: 10px solid $green;
            border-right: none;

            position: absolute;
            bottom: -24px;
            right: -4px;

            content: '';
        }
    }
    &__intro{
        width: 420px;
        max-width: 90%;
        
        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__list{
        color: $grey;
        margin-bottom: map-get($map: $spacers, $key: 1);

        &:last-child{
            margin-bottom: 0;
        }

        &:before{
            content: '—';
            margin-right: $spacer/4;
        }
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content-main{
        &__title{
            font-size: 60px;

            &_secondary{
                font-size: map-get($map: $heading, $key: h2);
            }
        }
        &__intro{
            width: 100%;
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content-main{
        &__title{
            font-size: map-get($map: $heading, $key: h2);

            &_secondary{
                font-size: map-get($map: $heading, $key: h3);
            }
        }
        &__subtitle{
            top: map-get($map: $spacers, $key: 2);
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content-main{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);

        &__title{
            font-size: map-get($map: $heading, $key: h3);

            &_secondary{
                font-size: map-get($map: $heading, $key: h4);
            }
        }
        &__subtitle{
            left: map-get($map: $spacers, $key: 2);
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content-main{
        padding-top: map-get($map: $spacers, $key: 5);
        
        &__title{
            text-indent: 0px;
        }
        &__intro{
            max-width: 100%;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content-main{
        &__title{
            font-size: map-get($map: $heading, $key: h4);

            &_secondary{
                font-size: map-get($map: $heading, $key: h6);
            }
        }
        &__subtitle{
            font-size: map-get($map: $spacers, $key: xs);
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .content-main{
        &__title{
            font-size: map-get($map: $heading, $key: h5);

            &_secondary{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
        &__list{
            margin-bottom: map-get($map: $spacers, $key: 1)/2;
        }
    }
}